<app-navigation></app-navigation>
<div class="container-fluid">
    <div class="main-wrap d-flex flex-wrap">
        <div class="function-wrap col-12 my-3">
            <div class="col-12">
                <h2>Surveillance Settings</h2>
            </div>
            <ul class="list-unstyled">
                <li>
                  <a id="suspendedBtn1" role="button"class="but_suspend openlivemarketbetsmodal">
                    <img src="/assets/livemarketbet.png"  alt="liveMarketBets" class="img-fluid">
                    <img src="/assets/livemarketbet.png" routerLink="/AliveMatchbets" alt="liveMarketBets" class="img-fluid">
                  </a>
                </li>
                <li>
                  <a id="suspendedBtn" role="button"class="but_suspend openbetlockerusersmodal">
                    <img src="/assets/betlockuser (1).png" alt="betLockedUsers" class="img-fluid">
                  </a>
                </li>
                <li>
                    <a id="suspendedBtn1" role="button"class="but_suspend opencheatbetsmodal">
                      <img src="/assets/cheatbet (1).png" alt="cheatBets" routerLink="/AbetCount" class="img-fluid">
                    </a>
                  </li>
                  <li>
                    <a id="suspendedBtn" role="button"class="but_suspend openuserplmodal">
                      <img src="/assets/userpl.png" routerLink="/userpl" alt="userP/l" class="img-fluid">
                    </a>
                  </li>
                  <li>
                    <a id="suspendedBtn1" role="button"class="but_suspend openprematchplmodal">
                      <img src="/assets/prematchpl.png" alt="prematchP/l" routerLink="/prematchpl" class="img-fluid">
                    </a>
                  </li>
            </ul>
        </div>
    </div>            
</div>

