<app-navigation></app-navigation>
<div class="main">
  <div class="userProfile">
    <button type="button" class="user">
      <div class="abadge">{{currentUserName |titlecase | slice:0:1}}</div>
      {{currentUserName |titlecase}}
    </button>
  </div>
  <div class="subBlock">
    <div class="sideBlock">
      <li class="head">Position</li>
      <li class="menu" routerLink="/Aaccountstatement">Account Statement</li>
      <li class="menu" routerLink="/account">Account Summary</li>
      <li class="head">Account Details</li>
      <li class="menu" routerLink="/Aprofile">Profile</li>
      <li class="menu" routerLink="/activitylog">Activity Log</li>
    </div>
  <div class="heading">Account Statement</div>

  <div class="rightBlock ">
    <div>
      <table class="betlisttb">
        <tbody>
        <tr class="betlisthead">
          <th class="width1">Date/Time</th>
          <th class="width2">Deposit From Upline</th>
          <th class="width3">Depost to Downline</th>
          <th class="width4">withDraw By Upline</th>
          <th class="width5">WithDraw From Downline </th>
          <th class="width6"  id="ss">Balance</th>
          <th class="width7">Remark</th>
          <th class="width8">From/To</th>
        </tr>
      </tbody>
      </table>
    </div>
  </div>

</div>
<!-- <app-myaccount></app-myaccount> -->
