.login-wrap{
    position: absolute;
    top: 15%;
    left: calc(50% - 540px/2);
    width: 540px;
    height: 408px;
    background-color: rgba(240, 232, 232, 0.8);
    border-radius: 8px;
    box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
}
.login-panel {
    color: #243a48;
    margin-left: 110%;
}
.red{
  color:red;
  font-size:12px;
}
.login-panel dt {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    font-family: Tahoma, Helvetica, sans-serif;
}
.login-panel dd {
    position: relative;
    width: 220px;
    margin-bottom: 5px;
}
.login-panel input{
    width: 100%;
    height: 33px;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #aaa;
    box-shadow: inset 0px 2px 0px 0px rgb(0 0 0 / 10%);
    margin: 0;
    border-radius: 5px;
}
dt {
    display: block;
    white-space: nowrap;
    font-weight: 300;
}
#randomCode{
    position: absolute;
    width: 90px;
    right: 10px;
    top: 2px;
    font-weight: bold;
    text-align: right;
    overflow-clip-margin: content-box;
    overflow: clip;
    font-size: 21px;
}
.kv {
    width: 250px;
    height: 100%;
    background: #ffb80c url(/assets/bg-login_wrap.webp) no-repeat;
    border-radius: 8px 0 0 8px;
    padding-top: 20px;
}
.login-panel{
    width: 218px;
    height: 36px;
    line-height: 36px;
    font-size: 15.5px;
    margin-top: 80px;
}
.btn-send {
    width: 218px;
    background-color: #ffa00c;
    border: 2px solid #cb8009;
    font-family: Tahoma, Helvetica, sans-serif;
    border-radius: 5px;
    font-weight: bold;
    padding-top:1px;
    padding-bottom: 1px;
}
input::placeholder {
    padding: 3.5px;
}
