<div class="main">
    <div class="login-wrap">
        <div class="kv">
            <form name="loginForm" method="post" [formGroup]="register" autocomplete="off">
                <dl class="login-panel">
                    <dt>Agent login</dt>
                    <dd>
                        <input id="userid" name="userid" type="text" placeholder="Username" formControlName="userName">
                    </dd>
                    <dd>
                        <input id="password" name="password" type="password" placeholder="Password" formControlName="password">
                    </dd>
                    <dd class="valid-code">
                        <input id="validCode" type="number" name="code" placeholder="Validation Code" maxlength="4" formControlName="validationCode">
                        <span id="randomCode">
                            {{validationCode}}
                        </span>
                    </dd>
                    <dd>
                        <button id="loginBtn" type="submit" class="btn-send" (click)="homePage()">
                            Login
                        </button>
                        <small *ngIf="error" class="red">{{error}}</small>
                    </dd>
                </dl>
            </form>
        </div>
    </div>
</div>
