<app-navigation></app-navigation>
<div class="main">
    <div class="userProfile">
      <button type="button" class="user">
        <div class="abadge">{{currentUserName |titlecase | slice:0:1}}</div>
        {{currentUserName |titlecase}}
      </button>
      <button type="button" class="user">
        <div class="Bbadge">{{shortCut | uppercase}}</div>
        {{selectedUser}}
      </button>
    </div>
    <div class="subBlock">
      <div class="sideBlock">
        <li class="head" >Position</li>
        <li class="menu" routerLink="/homeProfile">Account Summary</li>
        <li class="head">Performance</li>
        <li class="menu" routerLink="/homeBetting">Betting History</li>
        <li class="menu" routerLink="/bettingPL">Betting Profit & Loss</li>
        <li class="menu" routerLink="/transactionHistory">Transaction History</li>
        <li class="menu" routerLink="/transactionHistory2">Transaction History 2</li>
        <li class="menu" routerLink="/activitylog">Activity Log</li>
      </div>
      <div class="rightBlock">
        <div class="heading">Betting History</div>
        <div class="mainTab">
            <div class="t">

              <button type="button" [class]="currentTab==0?'aexch':'exch'" (click)="go(0)">Exchange</button>

              <button [class]="currentTab==1?'aexch':'exch'" (click)="go(1)">FancyBet</button>

              <button [class]="currentTab==2?'aexch':'exch'" (click)="go(2)">Fancy1Bet</button>

              <button [class]="currentTab==3?'aexch':'exch'" (click)="go(3)">Toss</button>

              <button [class]="currentTab==4?'aexch':'exch'" (click)="go(4)">Casino Bet</button>

              <button [class]="currentTab==5?'aexch':'exch'" (click)="go(5)">SportsBook</button>

              <button [class]="currentTab==6?'aexch':'exch'" (click)="go(6)">BookMaker</button>

              <button [class]="currentTab==7?'aexch':'exch'" (click)="go(7)">Premium</button>

            </div>
            <div class="m">
                <ul class="betStatusUl">
                        <li id="bet-status">
                            <label>Bet Status:</label>
                        </li>
                        <li>
                            <select id="betStatusSelect">
                                <option>Settled</option>
                                <option>Cancelled</option>
                                <option>Voided</option>
                            </select>
                        </li>
                        <li>
                            <label id="pl">Period</label>
                        </li>
                        <li>
                            <input type="date" placeholder="YYYY-MM-DD" id="sDate">
                            <input type="text" placeholder="HH:MM" maxlength="5" readonly="readonly" id="timeIpt">
                            <label >to</label>
                            <input type="date" placeholder="YYYY-MM-DD" id="sDate">
                            <input type="text" placeholder="HH:MM" maxlength="5" readonly="readonly" id="timeIpt">
                        </li>
                </ul>
                <ul class="betStatusBtn">
                    <li>
                        <button>Just For Today</button>
                    </li>
                    <li>
                        <button>From Yesterday</button>
                    </li>
                    <li>
                        <button id="gth">Get History</button>
                    </li>
                </ul>
            </div>
            <div class="f">
                <p>
                    Betting History enables you to review the bets you have placed.
                    <br>
                    Specify the time period during which your bets were placed, the type of markets on which the bets were placed, and the sport.
                </p>
                <p>Betting History is available online for the past 30 days.</p>
            </div>
            <div>
                <table class="betlisttb">
                    <tr class="betlisthead">
                        <td id="td-all">Bet ID</td>
                        <td id="td-all">PL ID</td>
                        <td id="market">Market</td>
                        <td id="td-all">Selection</td>
                        <td id="td-all">Type</td>
                        <td id="td-all">Bet placed</td>
                        <td id="td-odds-req">Odds req.</td>
                        <td id="td-all">Stake</td>
                        <td id="td-avg-odds">Avg. odds<br>matched</td>
                        <td id="td-all">Profit / Loss</td>
                      </tr>
                      <!-- <tr class="bet">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr> -->
                      <tr class="err"><td colspan="2" scope="col" id="table-values">You have no bets in this time period.</td>
                        <td id="table-values"></td>
                        <td id="table-values"></td>
                        <td id="table-values"></td>
                        <td id="table-values"></td>
                        <td id="table-values"></td>
                        <td id="table-values"></td>
                        <td id="table-values"></td>
                        <td id="table-values"></td>
                        <td id="table-values"></td>
                      </tr>
                </table>

            </div>
            <app-pagination></app-pagination>
        </div>
      </div>
    </div>
  </div>
