<app-navigation></app-navigation>
<div class="main">
    <div class="funtion_wraper ">
        <div class="sportsBody" >
          <div>
            <h2>Set Important Message</h2>
          </div>
            <textarea class="date" rows="6" cols="65">welcome</textarea>
            <p class="h2">Is Important:</p>
            <input type="checkbox"  class="form-check-input check" id="exampleCheck1">
            <button class="match_button">Save Message</button>
            <p class="p">Current Message</p>
        </div>      
    </div>
</div>