.main #datasource{
    margin: 5px;
}
li{
    list-style: none;
}
.main{
    width:100%;
    height:auto;
    overflow:hidden;
    padding-left:7%;
    padding-right:6%;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:5px;
  }

  .sportStatus{
    height: 27px;
    width: 128px;
    border-radius: 1px;
  }
  .input{
    margin-right: 15px;
  }
  .inputbody{
    margin-left: 15px

  }

  .date{
    font-family: Tahoma, Helvetica, sans-serif;
      color: #1e1e1e;
      font-size: 12px;
      border: 0px #aaa solid;
      background: #fff;
      box-shadow: inset 0px 1px 0px rgb(0 0 0 / 50%);
      border-radius: 4px;
      padding: 5px;
      margin: 0 5px 5px 0;
      box-sizing: border-box;
      height: 28px;
      width: 153px;
      margin-left: 13px;
  }

.function_wrapper{
    position: relative;
    padding: 10px 10px 0;
    background-color: #E0E6E6;
    border-bottom: 1px solid #7e97a7;
    margin-bottom: 10px;
}
.match_btn{
    margin-left: 2px;
    background: white;
    border-color: white;
    width: 120px;
    margin-right: 1px;
    border: 1px solid #bbb;
    border-radius: 4px;
    color: #1e1e1e;
    line-height: 21px;
    font-size: 12px;
    margin-bottom: 12px;
    font-weight: normal;
  }
  .match{
    margin-left: 2px;
    background: #ffb90e;
    width: 103px;
    margin-right: 1px;
    border: 1px solid #cb8009;
    border-radius: 4px;
    color: #1e1e1e;
    font-weight: bold;
    line-height: 23px;
    font-size: 12px;
    margin-bottom: 12px;
  }
  .firstseletor{
    width: 120px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    margin: 0 5px 5px 0;
  }
  .function_wrapper .inputbody1{
    /* border-radius: 8px; */
    font-family: Tahoma, Helvetica, sans-serif;
    color: #1e1e1e;
    font-size: 12px;
    background: #740a0a;
    box-shadow: inset 0px 1px 0px rgb(0 0 0 / 50%);
    border-radius: 4px;
    padding: 5px;
    margin: 0 5px 5px 0;
    box-sizing: border-box;
  }
  .function_wrapper label #lable1{
    padding-left: 1%;
    margin-left: 10px;  }

  .date1{

    font-family: Tahoma, Helvetica, sans-serif;
    color: #1e1e1e;
    height: 30px;
    font-size: 12px;
    border: 0px #aaa solid;
    background: #fff;
    box-shadow: inset 0px 1px 0px rgb(0 0 0 / 50%);
    border-radius: 4px;
    padding: 8px;
    width: 8%;
    margin: 0 5px 5px 0;
    box-sizing: border-box;
  }

  h2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;    padding-top: 6px;
    margin-bottom: 6px;
}


.table-pt {
    table-layout: fixed;
    font-size: 11px;
    margin: 20px 0 0;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.table01 th, .table-s th, .table_one th {
    color: #243a48;
    background-color: #e4e4e4;
    border: 1px solid #7e97a7;
    border-width: 1px 0 1px 0;
    padding: 8px 10px;
}
th {
    padding: 8px 5px;
}
table #header_event #header_eventName{
    padding-left: 30px;
}

.table01, .table-s, .table_one {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border-bottom: 1px solid #7e97a7;
    margin-bottom: 15px;
    text-align: right;
}

table tr #first_clomum {
    text-align: left;
    padding-left: 10px;
}


tbody tr{
  line-height: 30px;
  border-bottom: 1px solid #7e97a7;
}



.align-L{
  text-align: left;

}
#first tr td {
  background-color: #A762B5;

}


.lv_2 {
  background: #A762B5;
  color: #fff;
  line-height: 20px;
  text-decoration: none !important;
  color: #fff;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 9px;
  padding:3px;
}

.red{
  color: red;
  margin-right: 10px;
}
.green{
  color: green;
}

#spto{
  margin: 0;
}
#date2{
  margin-left: 5px;
}





















/* ///// */
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}




.table-pt .ico_account {
  width: calc(100% - 15px);
  float: none;
}


.ico_account{
  margin-left: 10px;
}

#ff{
  padding-left: 10px;
}
