<app-navigation></app-navigation>
<div class="main">
  <h6><b>Monitoring</b></h6>
  <div class="betlistfilter">
    <div class="filter1">
      <label>Period </label
      ><input type="date" class="date" [value]="currentDate" /><input
        type="time"
        class="time"
        [value]="currentTime"
      />
      <span>to</span>
      <input type="date" class="date" [value]="currentDate" /><input
        type="time"
        class="time"
        [value]="currentTime"
      />
      <select class="betStatus">
        <option>Cricket</option>
        <option>Tennis</option>
        <option>Soccer</option>
        <option>Fancy</option>
        <option>Live Casino</option>
    </select>
    <select class="betStatus">
        <option>Top</option>
        <option>Bottom</option>
    </select>
    <select class="betStatus">
        <option>10</option>
        <option>25</option>
        <option>50</option>
        <option>100</option>
    </select>
      <button class="btn3">Apply</button>
      <button class="btn2">clear</button>
      <button class="btn4">Live Match bet</button>
      <button class="btn7">Rejected Bets</button>
    </div>
    
  </div>
  <p class="para">Showing 0 to 0 of Entries 0</p>
  <table class="betlisttb">
    <tr class="betlisthead">
      <td class="width1">S.No.</td>
      <td class="width2">Username</td>
      <td class="width3">Cricket</td>
      <td class="width4">Tennis</td>
      <td class="width5">Soccer</td>
      <td class="width6">Fancy</td>
      <td>Live Casino</td>
    </tr>
  </table>

  
</div>
