<app-navigation></app-navigation>
<div class="main">
  <h6><b>Profit Loss</b></h6>
  <div class="betlistfilter">
    <div class="filter1">
      <label>Period </label
      ><input type="date" class="date" [value]="currentDate" /><input
        type="time"
        class="time"
        [value]="currentTime"
      />
      <span>to</span>
      <input type="date" class="date" [value]="currentDate" /><input
        type="time"
        class="time"
        [value]="currentTime"
      />
      <select class="betStatus">
        <option>Cricket</option>
        <option>Tennis</option>
        <option>Soccer</option>
        <option>Fancy</option>
        <option>Live Casino</option>
    </select>
    <select class="betStatus">
        <option>Top</option>
        <option>Bottom</option>
    </select>
    <select class="betStatus">
        <option>10</option>
        <option>25</option>
        <option>50</option>
        <option>100</option>
    </select>
      <button class="btn3">Apply</button>
      <button class="btn2">clear</button>
      <button class="btn4">Live Match bet</button>
      <button class="btn7">Rejected Bets</button>
    </div>
  </div>

  
</div>
