.main{
    width:100%;
    min-height: 650px;
    height:auto;
    overflow:hidden;
    padding-left:7%;
    padding-right:6%;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:5px;
    background-color: #f0ece1;
  }

.sportsBody{
    padding: 10px 10px 0;
    background-color: #E0E6E6;
    border-bottom: 1px solid #7e97a7;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  label{
    font-size:12px;
    
  }
  .filter1,.filter2{
    padding:5px;
  }
  .filter1 label{
    padding-right:5px;
  }
  .sportStatus{
    height: 27px;
    width: 128px;
    border-radius: 1px;
  }
  .input{
    margin-right: 5px;
  }
  .inputbody{
    margin-left: 13px
  }
  .match_btn{
    margin-left: 31px;
    background: #ffb90e;
    border-color: #cb8009;
    width: 77px;
    margin-right: 1px;
    border: 1px solid #bbb;
    border-radius: 4px;
    color: #1e1e1e;
    font-weight: bold;
    line-height: 23px;
    font-size: 12px;
  }
  .sports{
    width: 121px;
    height: 32px;
    margin-left: 10px;
  }
  .sports_option{
    margin-left: 10px;
  }
  .date{
    font-family: Tahoma, Helvetica, sans-serif;
      color: #1e1e1e;
      font-size: 12px;
      border: 0px #aaa solid;
      background: #fff;
      box-shadow: inset 0px 1px 0px rgb(0 0 0 / 50%);
      border-radius: 4px;
      padding: 5px;
      margin: 0 5px 5px 0;
      box-sizing: border-box;
      height: 28px;
      width: 153px;
      margin-left: 13px;
  }
  .match_button{
    margin-left: 7px;
    background: black;
    border-color: black;
    width: 46px;
    margin-right: 1px;
    border: 1px solid black;
    border-radius: 6px;
    color: white;
    /* font-weight: bold; */
    line-height: 8px;
    font-size: 12px;
    height: 26px;
    font-family: Tahoma, Helvetica, sans-serif;

  }
  
  .search{
    position: relative;
    border: none;
    margin-top: 5px;
    background-color: white;
    border: none; 
    /* z-index: 1; */
    top: 3%;
    left: 9px;
    font-size:13px;
    font-family: Arial, Helvetica, sans-serif;
    height: 1px;
} 
.searchbtn{
  width: 257px;
  height: 29px;
  margin-top: 4px;
  border-radius: 2px;
  border: none;
  margin-left: -16px;
  padding-left: 24px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: inset 0px 1px 0px rgb(0 0 0 / 50%);
}
.sports_winner{
  margin-bottom: 10px;
}
.table_data{
  background-color: #E0E6E6;
    border-bottom: 1px solid #7e97a7;
    border-top: 1px solid #7e97a7;
    margin-bottom: 10px;
}
th{
  color: #243a48;
  background-color: #e4e4e4;
  border: 1px solid #7e97a7;
  border-width: 1px 0 1px 0;
  padding: 8px 10px
}
.table_data,.h tr{
  font-size: 12px
}
.alignL1{
  width: 17%; text-align: center;
}
.alignL2{
  width: 13%;
}
.alignL3{
  width: 7%;
}
.alignL4{
  width: 10%;
}
.alignL5{
  width: 11%;
}
.alignL6{
  width: 11%;
}
.alignL7{
  width: 10%;
}
.alignL8{
  width: 9%;
}
.alignL9{
  width: 6%;
}
.alignL10{
  width: 20%;
}
