<app-navigation></app-navigation>
<div class="main" >
    <div class="div_wraper ">
        <div class="sportsBody" >
          <div>

              <label class="input">Select Sport </label>
              <select class="sportStatus" (change)="getMatchBySport($event)">
                <option value="All">Select Sport</option>
                <option value="4">Cricket</option>
                <option value="1">Soccer</option>
                <option value="2">Tenis</option>
              </select>

              <label class="inputbody input">Select Match  </label>
               <select class="sportStatus" (change)="matchDatalist($event)">
                <option value="mAll">Select Match</option>
                <option *ngFor="let item of matchData; let i = index" [value]="item.eventName">{{ item.eventName }}</option>
               </select>

               <label class="inputbody input">Select Type</label>
               <select class="sportStatus" (change)="matchTypelist($event)">
                <option >Select type</option>
                <option value="auto">Auto</option>
                <option value="manual">Manual</option>
              </select>

               <label class="inputbody input">Select Market</label>
               <select class="sportStatus">
                <option value="allM">Select Market</option>
                <option *ngFor="let item of marketList">{{item}}</option>
              </select>
          </div>
        </div>
    </div>
    <div class="div_wraper ">
      <div class="sports_winner" >
        <div>
             <button class="search" ><i class="fa fa-search"></i></button>
             <input type="text" class="searchbtn"  placeholder="Enter userId..." (keyup)="searchValue($event)">
             <button class="match_button" (click)="searchValue(currentSearch)">Search</button>
             <button class="match_button">clear</button>

        </div>
      </div>
    </div>
    <div>
      <table class="table table_data " >
        <thead class="h ">
          <tr>
            <th class="table_head1">Sports</th>
            <th class="table_head2">Match Name</th>
            <th class="table_head3" >Client</th>
            <th class="table_head4">Type</th>
            <th class="table_head5">Selection</th>
            <th class="table_head6">Odds</th>
            <th class="table_head7">Stake</th>
            <th class="table_head8">Place Time</th>
            <th class="table_head9">IP</th>
            <th class="table_head10">Pnl</th>
            <th>Del.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of matchesAllData | searchFilter:currentSearch;let i=index;">
            <td>{{item.sportName}}</td>
            <td>{{item.eventName}}</td>
            <td>{{item.competitionName}}</td>
            <td>{{item.type}}</td>
            <td>{{item.mEventId}}</td>
            <td>{{item.oddsProvider}}</td>
            <td></td>
            <td>{{item.openDate}}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

