<app-navigation></app-navigation>
<div class="main" >
    <div class="funtion_wraper ">
        <div class="sportsBody" >
          <div>
              <label class="input">Select Sport </label><select class="sportStatus"><option>Select Sport</option><option>Cricket</option><option>Soccer</option><option>Tenis</option></select>
               <label class="inputbody input">Select Match  </label><select class="sportStatus"></select>
               <label class="inputbody input">Select Type  </label><select class="sportStatus"></select>
               <label class="inputbody input">Select Market  </label><select class="sportStatus"></select>
          </div>
        </div>
    </div>
    <div class="funtion_wraper ">
      <div class="sports_winner" >
        <div>
             <button class="search" ><i class="fa fa-search"></i></button>
             <input class="searchbtn"  placeholder="Enter userId...">
             <button class="match_button">Search</button>
             <button class="match_button">clear</button>
             
        </div>
      </div>
    </div>
    <div>
      <table class="table table_data " >
        <thead class="h ">
          <tr>									
            <th scope="col" style="width: 17%; text-align: center;">Sports</th>
            <th scope="col" style="width: 13%;">Match Name</th>
            <th scope="col" style="width: 7%;">Client</th>
            <th scope="col" style="width: 10%;">Type</th>
            <th scope="col" style="width: 11%;">Selection</th>
            <th scope="col" style="width: 11%;">Odds</th>
            <th scope="col" style="width: 10%;">Stake</th>
            <th scope="col" style="width: 9%;">Place Time</th>
            <th scope="col" style="width: 6%;">IP</th>
            <th scope="col" style="width: 20%;">Pnl</th>
            <th scope="col">Del.</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>
