<app-navigation></app-navigation>
<div class="main" >
    <div class="funtion_wraper ">
        <div class="sportsBody" >
          <div>
              <label class="input">Select Sport </label><select class="sportStatus"><option>Select Sport</option><option>Cricket</option><option>Soccer</option><option>Tenis</option></select>
               <label class="inputbody input">Select Match  </label><select class="sportStatus"></select>
               <label class="inputbody input">Select Type  </label><select class="sportStatus"></select>
               <label class="inputbody input">Select Market  </label><select class="sportStatus"></select>
          </div>
        </div>
    </div>
    <div class="funtion_wraper ">
      <div class="sports_winner" >
        <div>
             <button class="search" ><i class="fa fa-search"></i></button>
             <input class="searchbtn"  placeholder="Enter userId...">
             <button class="match_button">Search</button>
             <button class="match_button">clear</button>
             
        </div>
      </div>
    </div>
    <div>
      <table class="table table_data " >
        <thead class="h ">
          <tr>									
            <th class="alignL1">Sports</th>
            <th class="alignL2">Match Name</th>
            <th class="alignL3" >Client</th>
            <th class="alignL4">Type</th>
            <th class="alignL5">Selection</th>
            <th class="alignL6">Odds</th>
            <th class="alignL7">Stake</th>
            <th class="alignL8">Place Time</th>
            <th class="alignL9">IP</th>
            <th class="alignL10">Pnl</th>
            <th class="alignL">Del.</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>
