<app-navigation></app-navigation>
<div class="main">
  <h5>Sport listing</h5>
  <table class="sportList">
    <tr class="sporthead">
      <td class="hd">S.No.</td>
      <td class="hd1">Betfair ID</td>
      <td class="hd1">Name</td>
      <td class="hd1">Status</td>
      <td class="hd1">Action</td>
    </tr>
    <tr *ngFor="let item of sportsData;let i=index;" class="tbox">
      <td class="sno">{{i+1}}</td>
      <td>{{item.betfairId}}</td>
      <td><a href="#">{{item.Name}}</a></td>
      <td>{{item.status}}</td>
      <td><!-- Default switch -->
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitches" checked>
          <label class="custom-control-label" for="customSwitches"></label>
        </div></td>
    </tr>
  </table>
</div>
