.wrap_function{
    width: 86%;
    margin: auto;
    padding: 10px 10px 0;
    background-color: #E0E6E6;
    border-bottom: 1px solid #7e97a7;
    /* margin-bottom: 10px */
}

.col-lg-12{
    position: relative;
    min-height: 1px;
    
}
.suspend1{
    background-size: cover;
    /* background-image: url(../../assets/setfancyres\ \(1\).png) !important; */
    background-image: url(../../assets/setfancyres.png)!important;
    width: 140px !important;
    height: 115px !important;
    border: 0 !important;
    border-radius: 10px;
}
.suspend2{
    background-image: url(../../assets/setmarketres.png) !important;
    background-size: cover;
    width: 140px !important;
    height: 115px !important;
    border: 0 !important;
    border-radius: 10px;
}
.h2{
    font-size: 1.1rem; margin-left: 3%;
}
.li1{
    list-style: none; margin-right: 5px;
}
.li2{
    list-style: none;
}