<app-navigation></app-navigation>
<div class="main">
    <h5>Games Listing</h5>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th class="filter1" scope="col">S.No.</th>
                <th class="filter2" scope="col">MatchName</th>
                <th class="filter3" scope="col">Date</th>
                <th class="filter4" scope="col">Matches Odds ON/OFF</th>
                <th class="filter5" scope="col">Book Marker ON/OFF</th>
                <th class="filter6" scope="col">Manual Odds ON/OFF</th>
                <th class="filter7" scope="col">Fancy ON/OFF</th>
                <th class="filter8" scope="col">Manual Fancy ON/OFF</th>
                <th class="filter9" scope="col">Match ON/OFF</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
    </div>

</div>