<nav class="navbar navbar-light bg-light topnav">
  <a class="navbar-brand" href="#">
    WONDERBET
  </a>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light secondnav">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Downline List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Account</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Report
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profit / Loss Report by Downline</a>
          <a class="dropdown-item" href="#">Profit / Loss Report by Market</a>
          <a class="dropdown-item" href="#">Casino Profit / Loss Report by Date</a>
          <a class="dropdown-item" href="#">Profit / Loss Downline</a>
          <a class="dropdown-item" href="#">Profit / Loss Sports Wise</a>
          <a class="dropdown-item" href="#">Match Profit / Loss</a>
          <a class="dropdown-item" href="#">Casino P/L Downline Monthly</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BetList</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BetListLive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Risk Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Banking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Block Market</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sport Setting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Admin Setting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Result</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addMatch">Add Match</a>
      </li>
    </ul>
  </div>
</nav>
