

<app-navigation></app-navigation>
<div class="main">
  <div class="userProfile">
    <button type="button" class="btn">
      <div class="buttons1">A</div>
      admin
    </button>
    <button type="button" class="btn">
        <div class="buttons2">SUB</div>
        satest
      </button>
  </div>
  <div class="subBlock">
    <div class="sideBlock">
      <li class="head">Position</li>
      <li class="menu" routerLink="/homeProfile">Account Summary</li>
      <li class="head">Performance</li>
      <li class="menu" routerLink="/homeBetting">Betting History</li>
      <li id="bettingfixed" class="menu" routerLink="/bettingPL" >Betting Profit & Loss</li>
      <li class="menu" routerLink="/transactionHistory">Transaction History</li>
      <li class="menu" routerLink="/transactionHistory2">Transaction History2</li>
      <li class="menu" routerLink="/activitylog">Activity Log</li>
    </div>
    <div class="heading">Transaction History</div>
    <div class="rightBlock">
        <table class="table">
            <thead>
              <tr>
                <th class="firstcloun" scope="col">Date/Time</th>
                <th scope="col">Deposit From Upline	</th>
                <th scope="col">Deposit to Downline	</th>
                <th scope="col">WithDraw By Upline	</th>
                <th scope="col">WithDraw From Downline	</th>
                <th scope="col">Balance</th>
                <th scope="col">Remark</th>
                <th scope="col">From/To</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <tr>
                    <td class="firstcloun" id="right">28/02/2023 15:07:13</td>
                    <td  class="green" id="right">-</td>
                    <td id="right">-</td>
                    <td class="red" id="right">200000.00</td>
                    <td id="right">-</td>
                    <td class="red" id="right">30000000.0</td>
                    <td id="right">-</td>
                    <td id="right">Admin -> sates</td>
                  </tr>
                  <tr>
                    <td class="firstcloun" id="right">28/02/2023 15:04:56</td>
                    <td class="green" id="right">500000.00</td>
                    <td id="right">-</td>
                    <td  class="red" id="right">-</td>
                    <td id="right">500000.00</td>
                    <td  class="red" id="right">0.00</td>
                    <td id="right">500000.00</td>
                    <td id="right">Own Deposit	</td>
                  </tr>
              
            </tbody>
          </table>
    </div>
</div>
