<app-navigation></app-navigation>
<div class="main" >
    <h2 class="header">Risk Management Summary</h2>

    <div class="wrap_match">
        <div class="table_head d-flex ">
            <h2>Match Odds</h2>
            <!-- <a class="justify-content-end tablea"><i class="fa fa-rotate-right" style="font-size:24px"></i></a> -->
            <a class="btnn"><i class="fa fa-rotate-right" ></i></a>
        </div>
        <table class="table table01">
            <thead>
              <tr>
                <th class="align-L1" rowspan="2" >Sports</th>
                <th class="align-L2" rowspan="2" >Market Date</th>
                <th class="align-L3 " rowspan="2">Event/&nbsp;Market Name</th>
                <th class="align-C1 border_section " colspan="3" >Player P/L</th>
                <th class="align-C2 border_section" rowspan="2" >Downline P/L</th>
              </tr>
              <tr>
                <th class="align-L4  border_section bg_yellow sky-align">1</th>
                <th class="align-L5 bg_yellow sky-align" >x</th>
                <th class="align-L6 bg_yellow sky-align">2</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td colspan="7">
                    <p>No Data</p>
                </td>
              </tr>

            </tbody>
          </table>

          <table class="table table01">
            <thead>
              <tr>
                <th class="align-L1" rowspan="2" >Sports</th>
                <th class="align-LL2" rowspan="2" >Market Date</th>
                <th class="align-L3 " rowspan="2">Event/&nbsp;Market Name</th>
                <th class="align-C3 bg_yellow border_section " colspan="2" >Player P/L</th>
                <th class="align-C2 border_section" rowspan="2" >Downline P/L</th>
              </tr>
              <tr>
                <th class="align-L4 border_section bg_yellow sky-align">1</th>
                <th class="align-L6 bg_yellow sky-align">2</th>
              </tr>
            </thead>
            
            <tbody>
              <tr class="border-table">
                <td class="align-L " >
                    <a href="#" class="margin_text">Cricket</a>
                </td>
                <td class="align-L border_section">
                    2022-08-03
                </td>
                <td class="align-L border_section">
                    <a class="btn"><i class="fa fa-chevron-down" ></i></a>
                    <a class="tb"  href="#"><strong>Ireland v South Africa</strong> <i class="fa fa-play" ></i> Match Odds </a>
                </td>
                <td class="align-L border_section text-center">
                    <a>
                        <span>(-20.00)</span>
                    </a>
                </td>
                <td class="align-l  text-center">
                    <a>
                        <span>(4.20)</span>
                    </a>
                </td>
                <td class="border_section">
                    <button class="match" >View</button>

                </td>
              </tr>

            </tbody>
          </table>
    </div>


    <div class="wrap_match">
      <div class="table_head d-flex ">
          <h2>Book Maker</h2>
          <!-- <a class="justify-content-end tablea"><i class="fa fa-rotate-right" style="font-size:24px"></i></a> -->
          <a class="btnn"><i class="fa fa-rotate-right" ></i></a>
      </div>
      <table class="table table01">
          <thead>
            <tr>
              <th class="align-L1" rowspan="2" >Sports</th>
              <th class="align-L2" rowspan="2" >Market Date</th>
              <th class="align-L3 " rowspan="2">Event/&nbsp;Market Name</th>
              <th class="align-C1 border_section " colspan="3" >Player P/L</th>
              <th class="align-C2 border_section" rowspan="2" >Downline P/L</th>
            </tr>
            <tr>
              <th class="align-L4  border_section bg_yellow sky-align">1</th>
              <th class="align-L5 bg_yellow sky-align" >x</th>
              <th class="align-L6 bg_yellow sky-align">2</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td colspan="7">
                  <p>No Data</p>
              </td>
            </tr>

          </tbody>
        </table>

        <table class="table table01">
          <thead>
            <tr>
              <th class="align-L1" rowspan="2" >Sports</th>
              <th class="align-LL2" rowspan="2" >Market Date</th>
              <th class="align-L3 " rowspan="2">Event/&nbsp;Market Name</th>
              <th class="align-C3 bg_yellow border_section " colspan="2" >Player P/L</th>
              <th class="align-C2 border_section" rowspan="2" >Downline P/L</th>
            </tr>
            <tr>
              <th class="align-L4 border_section bg_yellow sky-align">1</th>
              <th class="align-L6 bg_yellow sky-align">2</th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td colspan="7">
                  <p>No Data</p>
              </td>
            </tr>

          </tbody>
        </table>
  </div>

  <div class="wrap_match">
    <div class="table_head d-flex ">
        <h2>Fancy Bet</h2>
        <!-- <a class="justify-content-end tablea"><i class="fa fa-rotate-right" style="font-size:24px"></i></a> -->
        <a class="bttn3"><i class="fa fa-rotate-right" ></i></a>
    </div>
      <table class="table table01">
        <thead>
          <tr>
            <th class="align-L1" rowspan="2" >Sports</th>
            <th class="align-LL2" rowspan="2" >Market Date</th>
            <th class="align-L3 " rowspan="2">Event/&nbsp;Market Name</th>
            <th class="align-C3 bg_yellow border_section " colspan="2" >Player P/L</th>
            <th class="align-C2 border_section" rowspan="2" >Downline P/L</th>
          </tr>
          <tr>
            <th class="align-L4 border_section bg_yellow sky-align">MIN</th>
            <th class="align-L6 bg_yellow sky-align">MAX</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td colspan="7">
                <p>No Data</p>
            </td>
          </tr>

        </tbody>
      </table>
</div>

<div class="wrap_match">
  <div class="table_head d-flex ">
      <h2>Sports Book</h2>
      <!-- <a class="justify-content-end tablea"><i class="fa fa-rotate-right" style="font-size:24px"></i></a> -->
      <a class="btnn4"><i class="fa fa-rotate-right" ></i></a>
  </div>

    <table class="table table01">
      <thead>
        <tr >
          <th class="align-L11"  >Sports</th>
          <th class="align-L22"  >Market Date</th>
          <th class="align-L33 " >Event/&nbsp;Market Name</th>
          <!-- <th class="align-C3 bg_yellow border_section " colspan="2" >Player P/L</th> -->
          <th class="align-C22 " >Matched Amount</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td colspan="7">
              <p>No Data</p>
          </td>
        </tr>

      </tbody>
    </table>
</div>


<div class="wrap_match">
  <div class="table_head d-flex ">
      <h2 class="h2">Premium Cricket</h2>
      <!-- <a class="justify-content-end tablea"><i class="fa fa-rotate-right" style="font-size:24px"></i></a> -->
      <a class="btnn5"><i class="fa fa-rotate-right" ></i></a>
  </div>

    <table class="table table01">
      <thead>
        <tr >
          <th class="align-L11"  >Sports</th>
          <th class="align-L22"  >Market Date</th>
          <th class="align-L33 " >Event/&nbsp;Market Name</th>
          <!-- <th class="align-C3 bg_yellow border_section " colspan="2" >Player P/L</th> -->
          <th class="align-C22 " >Matched Amount</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td colspan="7">
              <p>No Data</p>
          </td>
        </tr>

      </tbody>
    </table>
</div>


<div class="wrap_match">
      <div class="table_head d-flex ">
          <h2>Binary</h2>
          <!-- <a class="justify-content-end tablea"><i class="fa fa-rotate-right" style="font-size:24px"></i></a> -->
          <a class="btnn6"><i class="fa fa-rotate-right" ></i></a>
      </div>
        <table class="table table01">
          <thead>
            <tr>
              <th class="align-L1" rowspan="2" >Sports</th>
              <th class="align-LL2" rowspan="2" >Market Date</th>
              <th class="align-L3 " rowspan="2">Event/&nbsp;Market Name</th>
              <th class="align-C3 bg_yellow border_section " colspan="2" >Player P/L</th>
              <th class="align-C2 border_section" rowspan="2">Books</th>
            </tr>
            <tr>
              <th class="align-L4 border_section bg_yellow sky-align">MIN</th>
              <th class="align-L6 bg_yellow sky-align">MAX</th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td colspan="7">
                  <p>No Data</p>
              </td>
            </tr>

          </tbody>
        </table>
  </div>

  <div class="wrap_match">
    <div class="table_head d-flex ">
        <h2 class="h2">Other Markets</h2>
        <!-- <a class="justify-content-end tablea"><i class="fa fa-rotate-right" style="font-size:24px"></i></a> -->
        <a class="btnn7"><i class="fa fa-rotate-right" ></i></a>
    </div>
  
      <table class="table table01">
        <thead>
          <tr >
            <th class="align-L11"  >Sports</th>
            <th class="align-L22"  >Market Date</th>
            <th class="align-L33 " >Event/&nbsp;Market Name</th>
            <!-- <th class="align-C3 bg_yellow border_section " colspan="2" >Player P/L</th> -->
            <th class="align-C22 " >Matched Amount</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td colspan="7">
                <p>No Data</p>
            </td>
          </tr>
  
        </tbody>
      </table>
  </div>
  


</div>