<app-navigation></app-navigation>

<div class="main">
    <div class="dd1" >
        <div class="daad">
            <label class="input">Select Website</label><select class="sportStatus"><option>Wonderbets.in</option><option>laserbook23.com</option></select>
        </div>
    </div>
    <div class="sportsBody" >
        <h3>Set Telegram</h3>
        <div class="daad">
            <label class="input">Number/Links<input class="inputs" type="text" placeholder="Enter Number or Links"/> </label>
            <label class="form-check-label lables2">
                <input class="form-check-input" type="checkbox" name="remember"/>ON<span>(IS SHOWING)</span>
            </label>
            <button>Update</button>
        </div>
    </div>

    <div class="sportsBody" >
        <h3>Set Whatsapp</h3>
        <div class="daad">
            <label class="input">Number/Links<input class="inputs" type="text" placeholder="Enter Number or Links"/> </label>
            <label class="form-check-label lables2">
                <input class="form-check-input" type="checkbox" name="remember"/>ON<span>(IS SHOWING)</span>
            </label>
            <button>Update</button>
        </div>
    </div>

    <div class="sportsBody" >
        <h3>Set Email</h3>
        <div class="daad">
            <label class="input">Number/Links<input class="inputs" type="text" placeholder="Enter Number or Links"/> </label>
            <label class="form-check-label lables2">
                <input class="form-check-input" type="checkbox" name="remember"/>ON<span>(IS SHOWING)</span>
            </label>
            <button>Update</button>
        </div>
    </div>

    <div class="sportsBody" >
        <h3>Set Skype</h3>
        <div class="daad">
            <label class="input">Number/Links<input class="inputs" type="text" placeholder="Enter Number or Links"/> </label>
            <label class="form-check-label lables2">
                <input class="form-check-input" type="checkbox" name="remember"/>ON<span>(IS SHOWING)</span>
            </label>
            <button>Update</button>
        </div>
    </div>

    <div class="sportsBody" >
        <h3>Set Instagram</h3>
        <div class="daad">
            <label class="input">Number/Links<input class="inputs" type="text" placeholder="Enter Number or Links"/> </label>
            <label class="form-check-label lables2">
                <input class="form-check-input" type="checkbox" name="remember"/>ON<span>(IS SHOWING)</span>
            </label>
            <button>Update</button>
        </div>
    </div>
    <div class="sportsBody" >
        <h3>Set Facebook</h3>
        <div class="daad">
            <label class="input">Number/Links<input class="inputs" type="text" placeholder="Enter Number or Links"/> </label>
            <label class="form-check-label lables2">
                <input class="form-check-input" type="checkbox" name="remember"/>ON<span>(IS SHOWING)</span>
            </label>
            <button>Update</button>
        </div>
    </div>
   
</div>