<app-navigation></app-navigation>
<div class="container-fluid">
    <div class="main-wrap d-flex flex-wrap">
        <div class="function-wrap col-12 my-3">
            <div class="col-12">
                <h2>General Settings</h2>
            </div>
            <ul class="list-unstyled">
                <li>
                  <a id="suspendedBtn1" role="button" data-toggle="modal" class="but_suspend openchangepwdmodal" data-target="#myModal">
                    <img src="/assets/changepass.png" alt="ChangePassword" class="img-fluid">
                  </a>
                </li>
                <li>
                  <a id="suspendedBtn" role="button" data-toggle="modal" class="but_suspend opendepositchipmodal" data-target="#depositChip">
                    <img src="/assets/depositMoney.png" alt="DepositChips" class="img-fluid">
                  </a>
                </li>
                <li>
                  <a id="suspendedBtn" class="but_suspend searchusericon" routerLink="/adminSettingSearchUser">
                    <img src="/assets/searchuser.png" alt="SearchUsers" class="img-fluid">
                  </a>
                </li>
                <li>
                  <a id="suspendedBtn" class="but_suspend websetting" routerLink="/adminSettingWebsiteSetting">
                    <img src="/assets/websitesetting.png" alt="WebsiteSetting" class="img-fluid">
                  </a>
                </li>
                <li>
                  <a id="suspendedBtn" class="but_suspend surveillanceicon" routerLink="/adminSettingSurveillanceSettings">
                    <img src="/assets/surveillance.png" alt="Surveillance" class="img-fluid">
                  </a>
                </li>
            </ul>
        </div>
        <div class="function-wrap col-12 my-3">
            <div class="col-12">
                <h2>Match And Bets</h2>
            </div>
            <ul class="list-unstyled">
                <li>
                    <a  id="suspendedBtn" class="but_suspend aactivematch">
                        <img src="/assets/activelist.png" routerLink="/AactiveMatch" alt="ActiveMatch" class="img-fluid">
                    </a>
                </li>
                <li>
                    <a id="suspendedBtn" class="but_suspend ainactivematch">
                        <img src="/assets/inactivelist.png" routerLink="/AinactiveMatch" alt="In-activeMatch" class="img-fluid">
                    </a>
                </li>
                <li>
                    <a id="suspendedBtn" class="but_suspend adeletebet">
                        <img src="/assets/rejectbet.png" alt="RejectedBets" class="img-fluid">
                    </a>
                </li>
                <li>
                    <a id="suspendedBtn" class="but_suspend aupdatestatus">
                        <img src="/assets/updatestatus.png" alt="UpdateFancyStatus" class="img-fluid">
                    </a>
                </li>
                <li>
                    <a id="suspendedBtn" class="but_suspend asuspendresult">
                        <img src="/assets/suspendresult.png" alt="SuspendedResult" class="img-fluid">
                    </a>
                </li>
            </ul>
        </div>
        <div class="function-wrap col-12 my-3">
            <div class="col-12">
                <h2>Message Settings</h2>
            </div>
            <ul class="list-unstyled">
                <li>
                    <a id="suspendedBtn" class="but_suspend ausermessage">
                        <img src="/assets/usermessage.png" alt="UserMessage" class="img-fluid">
                    </a>
                </li>
                <li>
                    <a id="suspendedBtn" class="but_suspend ahypermessage">
                        <img src="/assets/hypermessage.png" alt="Hyper Message" class="img-fluid">
                    </a>
                </li>
                <li>
                    <a id="suspendedBtn" class="but_suspend aimpmessage">
                        <img src="/assets/impmessage.png" alt="Important Message" class="img-fluid">
                    </a>
                </li>
            </ul>
        </div>
        <div class="function-wrap col-12 my-3">
            <div class="col-12">
                <h2>User Settings</h2>   
            </div>
            <ul class="list-unstyled">
                <li>
                    <a id="suspendedBtn" class="but_suspend ainactiveuser">
                        <img src="/assets/inactiveusers.png" alt="In-activeUsers" class="img-fluid">
                    </a>
                </li>
                <li>
                    <a id="suspendedBtn" class="but_suspend abetlockeruser">
                        <img src="/assets/betlockuser.png" alt="BetLockedUsers" class="img-fluid">
                    </a>
                </li>
            </ul>
        </div>
        <div class="function-wrap col-12 my-3">
            <div class="col-12">
                <h2>Match And Bets</h2>
            </div>
            <ul class="list-unstyled">
                <li>
                    <a id="suspendedBtn" class="but_suspend acheatbet">
                        <img src="/assets/cheatbet.png" alt="CheateBets" class="img-fluid">
                    </a>
                </li>
            </ul>
        </div>
    </div>            
</div>
<div class="modal fade" id="myModal" role="dailog">
    <div class="modal-dailog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="crs" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table>
                    <tr><td><label>New Password</label><input type="text" placeholder="Enter"><span class="must">*</span></td></tr>
                    <tr><td><label>New Password </label><input type="text" placeholder="Enter"><span class="must">*</span></td></tr>
                    <tr><td class="confrimPassword">Confrim</td></tr>
                    <tr><td><label>Your Password</label><input type="text" placeholder="Enter"><span class="must">*</span></td></tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="cpBtn">Change</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="depositChip" role="dailog">
    <div class="modal-dailog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deposit Chips</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="crs" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="dcmodal">
                <table>
                    <tr><td><label id="balance">Current Balanace : 389,175,889.50 PBU</label></td></tr>
                    <tr><td><input id="amt" type="text" placeholder="Add Amount"></td></tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="dcBtn">Deposit</button>
            </div>
        </div>
    </div>
</div>