.main-wrap {
    position: relative;
    width: 1350px;
    margin: 0 auto;
}

.col-lg-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
}
.abc{
    border-bottom: 1.5px solid rgb(88, 86, 86);
    background-color: rgb(218, 222, 226);
    margin-bottom: 5px;
}
h2 {
    font-size: 13px;
    line-height: 20px;
    padding-top: 6px;
    margin-bottom: 6px;
}

.status_but {
    width: 351px;
}
.status_but li{
    display: block;
}

li {
    cursor: pointer !important;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.status_but .but_suspend img{
    color: #E83523;
    line-height: 20px;
    border: 2px solid #1e1e1e !important;
    border-radius: 8px;
    width: 165px;
    margin-right: 9px;
}

.function-wrap {
    padding-left: 5px !important;
}
ul {
    display: flex;
    list-style: none; 
    padding: 0; 
}
h2{
    font-weight: 700    ;
}

/* change password pop up css */
.modal-content{
    position: fixed;
    top: 95px;
    left: 50%;
    background-color: #eee;
    width: 430px;
    border-radius: 5px;
    padding: 15px;
    transform: translate(-50%, 0);
    border-radius: 7px;
}
.btn-primary{
    background: #ffa00c url(/adminfiles/img/bg-send.gif) repeat-x;
    border-color: #be7f1a;
    color: #1e1e1e;
    font-weight: 900;
    font-size: 10px;
    width: 35%;
    margin-right: 120px;
}

h4{
    font-size: 16px;
    color: #3b5160;
    margin-bottom: 18px;
    font-weight: 600;
}

input{
    height: 24px;
    width: 160px;
    margin-left: 8px;
    border-radius: 5px;
    border: none;
    border-style: inset;
    border-width: 1px;
}
tr{
    font-size: 12px;
}
.confrimPassword{
    padding-left: 80px;
}
.must{
    font-size: 13px;
    color: #d0021b;
}

.modal-footer{
    /* background-color: #d0021b; */
    padding: 0;
    border: none;
}

.modal-header{
    padding: 0;
    border: none;
}

.modal-body{
    padding: 0;
}

label{
    padding-left: 40px;
}

