.main{
  width:100%;
  min-height: 650px;
  height:auto;
  overflow:hidden;
  padding-left:7%;
  padding-right:7%;
  font-size:14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top:5px;
  background-color: #f0ece1;
}
.content{
  font-size:12px;
  display: flex;
  background-color: black;
  border-radius: 4px;
  padding:5px;
}
.content span{
  font-size:12px;
  color:#ffffff;
  font-weight: bold;
  padding-left:2px;
}
.idate{
  background-color:deepskyblue;
  font-size:10px;
  padding:5px;
  border-radius: 4px;
  margin-right:5px;
  color:blue;
}
.message{
  color:deepskyblue;
  font-weight: bold;
}
.searchblock{
  height:60px;
  padding-top:10px;
  padding-bottom:10px;
  display:flex;
}
.searchtd{
  width:23%;
}
.searchbox{
  display:flex;
  color:#212121;
  width:fit-content;
  border-radius:4px;
  border: 1px solid #aaa;
  box-shadow: inset 0px 2px 0px rgb(0 0 0 / 10%);
}
.fa-search{
  padding:5px;
  border: 1px solid #aaa;
  box-shadow: inset 0px 2px 0px rgb(0 0 0 / 10%);
  background-color: white;
  border-right:none;
  padding-top:10px;
}
.searchTB{
  height:27px;
  width:185px;
  font-size:12px;
  padding:1px;
  padding-left:4px;
  border: 1px solid #aaa;
  box-shadow: inset 0px 2px 0px rgb(0 0 0 / 10%);
  border-left:none;
  border-bottom:none;
}
.btnSearch{
background-color: #FFC726;
border:none;
color:#212121;
border-radius:4px;
margin:1px;
font-weight: bold;
font-size:12px;
}
.statusfilter{
  width:15%;
}
.statusfilter select{
  width:120px;
  height: 30px;
}
.addAdminblock{
  width:70%;
  text-align: right;
}
.addAdmin{
  border: 1px solid #bbb;
  color:#212121;
  border-radius:4px;
  font-size:12px;
  font-weight: bold;
  height:30px;
  width:150px;
  margin-right:10px;
}
.refresh{
  border: 1px solid #bbb;
  color:#212121;
  border-radius:4px;
  font-size:12px;
  height:30px;
}
.statistics{
  height: 60px;
  background-color: #ffffff;
  border-radius: 4px;
  padding:8px;
  margin-bottom:10px;
  color:#3b5160;
  border-bottom:1px solid #7e97a7;
}
li{
  list-style-type: none;
}
.stats1,.stats2,.stats3,.stats4,.stats5,.stats6{
  float:left;
  width:16%;
}
.pbu{
  font-size: 15px;
  color: #243A48;
  line-height: 20px;
  font-weight: bold;
}
table,tr{
  width:100%;
}
.th{
  border-top:1px solid #7e97a7;
  border-bottom:1px solid #7e97a7;
  background-color: #e4e4e4;
  color:#243a48;
}
.th td{
  color:#243a48;
  padding:5px;
  font-weight: 600;
  font-size:13px;
}
td{
  width:fit-content;
  padding:5px;
}
.accountData{
 background-color: #ffffff;
}
.exposure{
  background-color: #F2E2E6;
  border: 1px solid #DEB6C0;
  border-radius: 4px;
  color:#D0021B;
  padding-left:20px;
  padding-right:20px;
  font-size:12px;
  font-weight: bold;
}
.fa-pen{
  color: #7e97a7;
  font-size:12px;
}
.status{
  background-color: #E5F1DC;
  border: 1px solid #BEDCA7;
  color: #508D0E;
  border-radius: 4px;
  font-size:12px;
  font-weight:bold;
}
.bal:after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: top;
    background: url('data:image/svg+xml,<svg width="31" height="30" xmlns="http://www.w3.org/2000/svg"><path d="M23.668 0a7 7 0 017 7v16a7 7 0 01-7 7h-16a7 7 0 01-7-7V7a7 7 0 017-7h16zm-8 7a1.28 1.28 0 00-1.28 1.28v5.44h-5.44a1.28 1.28 0 100 2.56h5.44v5.44a1.28 1.28 0 102.56 0v-5.44h5.44a1.28 1.28 0 100-2.56h-5.44V8.28A1.28 1.28 0 0015.668 7z" fill="%232789CE" fill-rule="evenodd"/></svg>') center no-repeat;
    background-size: contain;
    margin-left: 5px;
}
.green{
  font-weight: bold;
}
.bottomBlock{
  display:block;
  width:100%;
  margin-top:10px;
  border-top:1px solid #7e97a7;
}
.bank,.betPL,.bH,.profile,.changeStatus{
  padding-right:25px;
  float:right;
  cursor: pointer;
}
/* Add super admin pop up */
.modal-content{
  position: fixed;
  top: 95px;
  left: 50%;
  background-color: rgb(212, 211, 211);
  width: 430px;
  border-radius: 5px;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  transform: translate(-50%, 0);
  border-radius: 7px;
}
.btn-primary{
  background: #ffa00c;
  border-color: #be7f1a;
  color: #1e1e1e;
}
.btn-primary#cpBtn{
  margin-top: 25px;
  margin-right: 120px;
  margin-bottom: 15px;
  width: 35%;
  font-size: 11px;
  font-weight: 900;
}

h4{
  font-size: 17px;
  font-weight: bolder;
  color: #3b5160;
  margin-bottom: 18px;
  font-weight: bold;
}

.table2 tr td input{
  height: 24px;
  width: 160px;
  margin-left: 8px;
  border-radius: 5px;
  border: none;
  border-style: inset;
  border-width: 1px;
}
.table2 tr td input::placeholder{
  padding-left: 3px;
}
.table2 tr{
  font-size: 12px;
}
.must{
  font-size: 15px;
  color: #d0021b;
}

.modal-footer{
  /* background-color: #d0021b; */
  padding: 0;
  border: none;
}

.modal-header{
  padding: 0;
  border: none;
}

.modal-body{
  padding: 0;
}

label{
  padding-top: 3px;
  padding-left: 40px;
  font-weight: 500;
  margin: 0;
}

select {
  width: 160px;
  height: 27px;
  margin: 0;
  margin-left: 8px;
  padding-top: 3px;
  border-radius: 3px;
}
.table2,.table2 tr{
  width:100%;
}

#lb{
  text-align: right;
  width: 35%;
}
.passwordConfrim{
  border-bottom: solid 1px gray;
}
.table2 td{
  padding: 0;
  padding-bottom: 10px;
}

.btnnn{
  width: 26px;
    height: 26px;
    margin-left: 3px;
}
.person{
  font-size: 14px;
}
.align1{
width: 17%;
}
.align2{
  width: 11%;
}
.align3{
width: 12%;
}
.align4{
  width: 10%;
}
.align5{
  width: 9%;
}
.align6{
  width: 11%;
}
.align7{
  width: 10%;
}

.arrowbtn{
  margin-right: 5px;
}
.refresh1{
  border: 1px solid #bbb;
  color:#212121;
  border-radius:4px;
  font-size:12px;
  height: 25px;
  width: 27px;
}
.btn1{
  margin-right: 5px;
}
.bank, .betPL,.bH ,.profile ,.changeStatus{
  margin-top: 5px;
  font-size: 13px;
}
.image{
  height: 22px;
}
.image1{
  height: 30px;
  width: 28px;
  margin-right: 6px;
  cursor: pointer;
}
