.main{
  width:100%;
  height:auto;
  overflow:hidden;
  padding-left:7%;
  padding-right:7%;
  font-size:14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top:5px;
}
.content{
  font-size:12px;
  display: flex;
  background-color: black;
  border-radius: 4px;
  padding:5px;
}
.content span{
  font-size:12px;
  color:#ffffff;
  font-weight: bold;
  padding-left:2px;
}
.idate{
  background-color:deepskyblue;
  font-size:10px;
  padding:5px;
  border-radius: 4px;
  margin-right:5px;
  color:blue;
}
.message{
  color:deepskyblue;
  font-weight: bold;
}
.searchblock{
  height:100px;
}
.statistics{
  height: 100px;
}
table,tr{
  width:100%;
}
td{
  width:fit-content;
}
