.main {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-left: 7%;
  padding-right: 7%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
}

.content {
  font-size: 12px;
  display: flex;
  background-color: black;
  border-radius: 4px;
  padding: 5px;
}
.content span {
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  padding-left: 2px;
}
.idate {
  background-color: deepskyblue;
  font-size: 10px;
  padding: 5px;
  border-radius: 4px;
  margin-right: 5px;
  color: blue;
}
.message {
  color: deepskyblue;
  font-weight: bold;
}
.searchblock {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
.searchtd {
  width: 23%;
}

.a{
  margin-right: 6px;
  text-decoration: none;
}
.searchbox {
  display: flex;
  color: #212121;
  width: fit-content;
  border-radius: 4px;
  border: 1px solid #aaa;
  box-shadow: inset 0px 2px 0px rgb(0 0 0 / 10%);
}
.fa-search {
  padding: 5px;
  border: 1px solid #aaa;
  box-shadow: inset 0px 2px 0px rgb(0 0 0 / 10%);
  background-color: white;
  border-right: none;
  padding-top: 10px;
}
.searchTB {
  height: 27px;
  width: 185px;
  font-size: 12px;
  padding: 1px;
  padding-left: 4px;
  border: 1px solid #aaa;
  box-shadow: inset 0px 2px 0px rgb(0 0 0 / 10%);
  border-left: none;
  border-bottom: none;
}
.btnSearch {
  background-color: #ffc726;
  border: none;
  color: #212121;
  border-radius: 4px;
  margin: 1px;
  font-weight: bold;
  font-size: 12px;
}
.statusfilter {
  width: 15%;
}
.statusfilter select {
  width: 120px;
  height: 30px;
}
.addAdminblock {
  width: 70%;
  text-align: right;
}
.addAdmin {
  border: 1px solid #bbb;
  color: #212121;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  width: 150px;
  margin-right: 10px;
}
.refresh {
  border: 1px solid #bbb;
  color: #212121;
  border-radius: 4px;
  font-size: 12px;
  height: 25px;
}
.refresh2{
  border: 1px solid #bbb;
  color: #212121;
  border-radius: 4px;
  font-size: 12px;
  height: 25px;
}
.statistics {
  height: 60px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
  color: #3b5160;
  border-bottom: 1px solid #7e97a7;
}
li {
  list-style-type: none;
}
.stats1,
.stats2,
.stats3,
.stats4,
.stats5,
.stats6 {
  float: left;
  width: 16%;
}
.pbu {
  font-size: 15px;
  color: #243a48;
  line-height: 20px;
  font-weight: bold;
}
table,
tr {
  width: 100%;
}
.th {
  border-top: 1px solid #7e97a7;
  border-bottom: 1px solid #7e97a7;
  background-color: #e4e4e4;
  color: #243a48;
}
.th td {
  color: #243a48;
  padding: 5px;
  font-weight: 600;
  font-size: 13px;
}
td {
  width: fit-content;
  padding: 5px;
}
.accountData {
  background-color: #ffffff;
  border-bottom: 1px solid #7e97a7;
}
.exposure {
  background-color: #f2e2e6;
  border: 1px solid #deb6c0;
  border-radius: 4px;
  color: #d0021b;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: bold;
}
.fa-pen {
  color: #7e97a7;
  font-size: 12px;
}
.status {
  background-color: #e5f1dc;
  border: 1px solid #bedca7;
  color: #508d0e;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}
.bal:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 20px;
  vertical-align: top;
  background: url('data:image/svg+xml,<svg width="31" height="30" xmlns="http://www.w3.org/2000/svg"><path d="M23.668 0a7 7 0 017 7v16a7 7 0 01-7 7h-16a7 7 0 01-7-7V7a7 7 0 017-7h16zm-8 7a1.28 1.28 0 00-1.28 1.28v5.44h-5.44a1.28 1.28 0 100 2.56h5.44v5.44a1.28 1.28 0 102.56 0v-5.44h5.44a1.28 1.28 0 100-2.56h-5.44V8.28A1.28 1.28 0 0015.668 7z" fill="%232789CE" fill-rule="evenodd"/></svg>')
    center no-repeat;
  background-size: contain;
  margin-left: 5px;
}
.green {
  font-weight: bold;
}
.bottomBlock {
  /* display: block;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #7e97a7; */
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: #eee;
  padding: 8px 0px;
}

/* .bottom-block-items {
  padding-right: 15px;
} */

.bank,
.betPL,
.bH,
.profile,
.changeStatus {
  padding-right: 25px;
  float: right;
  cursor: pointer;
}
/* Add super admin pop up */
.modal-content {
  position: fixed;
  top: 95px;
  left: 50%;
  background-color: rgb(212, 211, 211);
  width: 430px;
  border-radius: 5px;
  padding-top: 12px;
  transform: translate(-50%, 0);
  border-radius: 7px;
}
.btn-primary {
  background: #ffa00c;
  border-color: #be7f1a;
  color: #1e1e1e;
}
.btn-primary#cpBtn {
  margin-top: 25px;
  margin-right: 120px;
  margin-bottom: 15px;
  width: 35%;
  font-size: 11px;
  font-weight: 900;
}
.btn-primary#cpBtn2 {
  margin-top: 25px;
  margin-right: 120px;
  margin-bottom: 15px;
  width: 35%;
  font-size: 11px;
  font-weight: 900;
  opacity: 0.5;
}
h4 {
  font-size: 17px;
  color: #3b5160;
  margin-left: 17px;
  margin-bottom: 11px;
  font-weight: bold;
}

.table2 tr td input {
  height: 24px;
  width: 160px;
  margin-left: 8px;
  border-radius: 5px;
  border: none;
  border-style: inset;
  border-width: 1px;
}
.table2 tr td input::placeholder {
  padding-left: 3px;
}
.table2 tr {
  font-size: 12px;
}
.must {
  font-size: 15px;
  color: #d0021b;
}

.modal-footer {
  /* background-color: #d0021b; */
  padding: 0;
  border: none;
}

.modal-header {
  padding: 0;
  border: none;
}

.modal-body {
  padding: 0;
}

label {
  padding-top: 3px;
  padding-left: 40px;
  margin: 0;
}

select {
  width: 160px;
  height: 27px;
  margin: 0;
  margin-left: 8px;
  padding-top: 3px;
  border-radius: 3px;
}
.table2,
.table2 tr {
  width: 100%;
}

#lb {
  text-align: right;
  width: 35%;
}
.passwordConfrim {
  border-bottom: solid 1px gray;
}
.table2 td {
  padding: 0;
  padding-bottom: 10px;
}

.btnnn {
  width: 26px;
  height: 26px;
  margin-left: 3px;
}
.person {
  font-size: 14px;
}
.align1 {
  width: 17%;
}
.align2 {
  width: 11%;
}
.align3 {
  width: 12%;
}
.align4 {
  width: 10%;
}
.align5 {
  width: 9%;
}
.align6 {
  width: 11%;
}
.align7 {
  width: 10%;
}

.arrowbtn {
  margin-right: 5px;
}
.refresh1 {
  border: 1px solid #bbb;
  color: #212121;
  border-radius: 4px;
  font-size: 12px;
  height: 25px;
  width: 27px;
}
.btn1 {
  margin-right: 5px;
}
.bank,
.betPL,
.bH,
.profile,
.changeStatus {
  margin-top: 5px;
  font-size: 13px;
}
.image {
  height: 22px;
}
.image1 {
  height: 22px;
  width: 22px;
  margin-right: 6px;
  cursor: pointer;
}
.seconddiv{
  display: block;
  padding:15px;
  text-align: center;
  width:100%;
  padding-left:25px;
  height: auto;
  overflow: hidden;
}
.btn99,.btn98,.btn100,.btn99a,.btn100a{
  float:left;
  display:block;
  margin-right:10px;
  width:30%;
  border-radius:4px;
  background-color: #fff;
  color: #3b5160;
  padding: 7px 10px 5px;
  border: 1px solid #7e97a7;
  height:60px;
}
.btn98{
  background-color: transparent;
  width: 112px;
  height: 72px;
  color: #b0b0b0;
  font-size: 17px;
  cursor: none;
}
.btn99{
  width: 112px;
  height: 72px;
  color:red;
  font-size: 17px;
  background-image: linear-gradient(-180deg, #FEFEFE 0%, #E0E0E0 100%);
    border: 1px solid #9D9D9D;
}
.btn99a{
  width: 112px;
  height: 72px;
  font-size: 17px;
  background-image: linear-gradient(-180deg, #DB2828 0%, #921313 100%);
  color: #fff;
}
.btn100 {
  width: 112px;
  height: 72px;
  color: #708B9D;
  background-image: linear-gradient(-180deg, #FEFEFE 0%, #E0E0E0 100%);
  border: 1px solid #9D9D9D;
}
.btn100a{
  width: 112px;
  height: 72px;
  background-image: linear-gradient(-180deg, #9AB6CE 0%, #536174 100%);
  color: #fff;
}
.passblock{
  padding:10px;
}
.d{
  display:block;
  height:40px;
  padding:5px;
  width:100%;
}
.tdd{
  padding: 7px;
}
#float{
  float: right;
}
.d td{
  height:30px;
}
.plh{
  width:134px;
  height:25px;
  border-radius: 4px;
  color: #1e1e1e;
  font-size: 12px;
  border: 0px #aaa solid;
  background: #fff;
  box-shadow: inset 0px 1px 0px rgb(0 0 0 / 50%);
  padding-left:5px;
}
.badg{
width:31px;
height: fit-content;
  border-radius: 5px 5px;
  background-color: #568BC8;;
  font-size:9px;
  color:#fff;
  border:none;
}
.b1,.b2,.b3{
  float:left;
  padding-right:10px;
}
.b3{
  width:75%;
  text-align: right;
}
.pp2{
  float:right;
  color:#508D0E;
  font-size:13px;
}

.matchs{
  margin-left: 8px;
  background: #ffb90e;
  width: 151px;
  margin-right: 1px;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #1e1e1e;
  font-weight: bold;
  line-height: 23px;
  font-size: 12px;
  margin-bottom: 6px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 6px;
}
#change{
  border-color: #cb8009;
}
.label{
  font-size: 11px;
}
.img1{
  height: 20px;
  width:20px;
  opacity: 0.5;
  cursor: none;
}
.img2{
  height:20px;
  width:20px;


}

.dot {
  height: 7px;
  width: 7px;
  background-color: green;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
}
.searchbtn {
  width: 257px;
  height: 29px;
  margin-top: 4px;
  border-radius: 2px;
  border: none;
  margin-left: 38px;
  padding-left: 4px;
  margin-bottom: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: inset 0px 1px 0px rgb(0 0 0 / 50%);
}
.searchbtn1 {
  width: 257px;
  height: 29px;
  margin-top: 4px;
  border-radius: 2px;
  border: none;
  margin-left: 9px;
  padding-left: 4px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: inset 0px 1px 0px rgb(0 0 0 / 50%);
}
.match_buttons {
  margin-left: 7px;
  background: #ffb90e;
  border-color: #cb8009;
  width: 150px;
  margin-right: 9px;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #1e1e1e;
  font-weight: bold;
  line-height: 23px;
  font-size: 12px;
  height: 26px;
  position: relative;
  top: -17px;
  left: 83px;
  text-align: center;
}

.inputbody {
  font-size: 13px;
  margin-left: -39px;
}
.inputbody1 {
  font-size: 13px;
  margin-left: -39px;
}
.p1 {
  font-size: 13px;
  margin-top: 3px;
}
.p2 {
  font-weight: bold;
  margin-left: 22px;
  font-size: 18px;
}

.button5{
  width: 64px;
  height: 29px;
  position: relative;
  margin-left: 181px;
  border: 2px solid #bbb;
  border-radius: 4px;
}


.span1{
  position: relative;top: -3px;
  font-size: 13px;
  font-weight: 700;
}
.div1{
  padding-bottom: 19px;
}
#abc {
  border: 1px solid #baabab;
  border-width: 1px 0 1px 0;
  padding: 12px 40px 0;
}
.body1 {
  border: 1px solid #ccc;
  border-width: 1px 0 1px 0;
  padding: 28px 40px 0;
}
.span{
  margin-right: 10px;
  background-color: black;
  color: white;
  /* opacity:-1!important; */
}
.icon1{
  color: #2789ce; cursor: pointer;
}

#change-status-body {
  margin: 0px 10px;
}

.bottom-block-items {
  padding-right: 30px;
  font-size: 11px;
}

#home-pagination {
  margin: 25px 0px;
}
.cross{
  font-size: 20px;
    margin-right: 16px;
    cursor: pointer;
}
.er{
  color:red;
  font-size:10px;
  width:100%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.error{
  color:#E83523;
  font-size:12px;
}

.must{
    font-size: 13px;
    color: #d0021b;
}
#suspendedB{
  display:none;
}
.pass1{
  margin-left: 47px;
  padding-right:5px;
}
.pass2{
  margin-left: 47px;
  padding-right:5px;
}
.cpass{
  padding-right:5px;
}

.chbtn{
  width: 119px;
  margin-left: 90px;
  border-radius: 5px;
  background-color: #ffa00c;
  border-color: #be7f1a;
  }
  #newform input{
    height: 24px;
    width: 160px;
    margin-left: 8px;
    border-radius: 5px;
    border: none;
    border-style: inset;
    border-width: 1px;
}

.newform{
  margin-bottom:20px;
}
#crs{
  margin-right:8px;
}
