<app-navigation></app-navigation>
<div class="main">
  <div class="newsBlock">
    <div class="content">
      <span>News</span>
      <marquee class="message"><i class="idate">31 Jul 2022</i>Notice: S RAJU RUN FANCY WRONG ODDS BETS WILL BE DELETED
      </marquee>
    </div>
  </div>
  <div class="searchblock">
    <div class="searchtd">
      <div class="search-wrap searchbox">
        <i class="fa fa-search"></i><input type="text" placeholder="Find member..." class="searchTB"
          (keyup)="searchValue($event)"><button type="button" class="btnSearch"
          (click)="searchValue(currentSearch)">Search</button>
      </div>
    </div>
    <div class="statusfilter">
      Status
      <select id="adminStatusFilter" (change)="getUserByStatus($event)">
        <option value="Active">ACTIVE</option>
        <option value="Suspended">SUSPENDED</option>
        <option value="Locked">LOCKED</option>
        <option value="All">ALL</option>
      </select>
    </div>
    <div class="addAdminblock">
      <button type="button" class="addAdmin" data-toggle="modal" data-target="#superAdminpop"><i class="fa fa-user-plus"
          aria-hidden="true"></i>
        Add {{childRoleData?.userName}}</button>
      <button type="button" class="refresh"><i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="statistics">
    <div class="stats1">
      <li>Total Balance</li>
      <li class="pbu">PBU 613,771,780.316</li>
    </div>
    <div class="stats2">
      <li>Total Exposure</li>
      <li class="pbu">PBU 22.00</li>
    </div>
    <div class="stats3">
      <li>Total Avail. bal.</li>
      <li class="pbu">PBU 613,771,758.316</li>
    </div>
    <div class="stats4">
      <li>Balance</li>
      <li class="pbu">PBU 389,175,898.50</li>
    </div>
    <div class="stats5">
      <li>Available Balance</li>
      <li class="pbu">PBU 1,002,947,656.816</li>
    </div>
    <div class="stats6">
      <li>Total Player Balance</li>
      <li class="pbu">PBU 130,779,882.99</li>
    </div>
  </div>
  <div class="data">
    <table class="accountdetails">
      <tr class="th">
        <td class="align1">Account</td>
        <td class="align2">Credit Ref.</td>
        <td class="align3">Balance</td>
        <td class="align4">Exposure</td>
        <td class="align5">Avail. bal.</td>
        <td class="align6">Player Balance</td>
        <td class="align7">Ref. P/L</td>
        <td>Status</td>
        <td style="text-align: right;">Action</td>
      </tr>
      <tr *ngFor="let item of accountDetails | searchFilter:currentSearch;let i=index;" class="accountData">
        <td class="tdd"><span class="badge badge-primary">{{shortCut}}</span> &nbsp;<a href="#">{{item.userName}}</a></td>
        <td  data-toggle="modal"
        class="but_suspend openchangepwdmodal icon tdd"
        data-target="#myModal"><a href="#"
          class="credRef a "
          >{{item.creditRef}}</a> <i class='fas fa-pen icon1' ></i></td>
        <td class="tdd"><a href="#" class="bal">{{item.balance}}</a></td>
        <td class="tdd"><button type="button" class="exposure">{{item.exposure}}</button></td>
        <td class="tdd">{{item.availBalance}}</td>
        <td class="tdd">{{item.balance}}</td>
        <td class="tdd">{{item.refProfitLoss}}</td>
        <td class="tdd"><button type="button" class="status"><span class="dot"></span>{{item.userstatus}}</button></td>

    <td  class="tdd" id="float" >
      <button type="button"  class="arrowbtn refresh" id="Betting Profit & Loss" routerLink="/bettingPL"><i class="fas fa-long-arrow-alt-up"></i><i class="fas fa-long-arrow-alt-down"></i></button>
      <img class="image1" src="../../assets/icons.png" routerLink="/homeBetting">
      <button type="button"class=" btn1 refresh"  data-toggle="modal" (click)="getCurrentUser(item)" data-target="#depositChip"><i class="fa fa-gear"></i></button>
      <button type="button "class="btn1 refresh" id="profile" routerLink="/homeProfile" ><i class='fas fa-user-alt'></i></button>
    </td>
  </tr>
</table>
<div class="container-fluid justify-content-center" id="home-pagination">
  <div class="row">
    <div class="col">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
<div class="bottomBlock" >
  <div class="bottom-block-items"><button type="button"class="refresh1" data-toggle="modal" data-target="#depositChip" id="Change Status"><i class="fa fa-gear"></i></button> Change Status</div>
  <div class="bottom-block-items" routerLink="/homeProfile"><button type="button "class="refresh1" id="profile" ><i class='fas fa-user-alt'></i></button>
    Profile</div>
  <div class="bottom-block-items" routerLink="/homeBetting"><img class="image" src="../../assets/icons.png">
    Betting History</div>
  <div class="bottom-block-items" routerLink="/bettingPL"><button type="button"  class="arrowbtn refresh2" id="Betting Profit & Loss" ><i class="fas fa-long-arrow-alt-up"></i><i class="fas fa-long-arrow-alt-down"></i></button>

    Betting Profit & Loss</div>

  <div class="bottom-block-items"><button type="button" class="refresh1" id="Bank"><i class='fas fa-dollar-sign'></i></button>
    Bank</div>
</div>
</div>

<!-- Add super admin popup -->
<div class="modal" id="superAdminpop" role="dailog">
  <div class="modal-dailog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add {{childRoleData?.userName}}</h4>
        <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
          <span id="crs" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="superUserForm" (ngSubmit)="createAdmin()" autocomplete="off">
          <table class="table2">
            <tr>
              <td id="lb"><label>Select Website</label></td>
              <td><select name="webs" id="openselectWebsite" formControlName="site">
                  <option>Select Website</option>
                  <option>wonderbets.in</option>
                  <option>laserbook23.com</option>
                </select><span class="must">*</span></td>
            </tr>
            <p *ngIf="site?.invalid && (site?.touched || site?.dirty)" class="validations-p">
              <small *ngIf="site?.errors?.['required']" class="text-danger error-message-place">Website is required.</small>
            </p>
            <tr>
              <td id="lb"><label>Username</label></td>
              <td><input type="text" placeholder="Enter" autocomplete="false" formControlName="userName" maxlength="12" (keyup)="validateuser($event)"><span class="must">*</span></td>
            </tr>
            <!-- <div class="er" *ngIf="error && error?.Special">{{error?.Special}}</div> -->
            <p  *ngIf="userName?.invalid && (userName?.touched || userName?.dirty)" class="validations-p">
                <small *ngIf="userName?.errors?.['required']" class="text-danger error-message-place">Name is required.</small>
                <small *ngIf="userName?.errors?.['pattern']" class="text-danger error-message-place">Special Characters are not allowed.</small>
            </p>
            <small *ngIf="error?.invalidUser" class="text-danger error-message-place">user already exists.</small>
            <tr>
              <td id="lb"><label>Password</label></td>
              <td><input type="password" placeholder="Enter" autocomplete="false" formControlName="password" minlength="8" maxlength="14"><span class="must">*</span></td>
            </tr>
            <p  *ngIf="password?.invalid && (password?.touched || password?.dirty)" class="validations-p">
              <small *ngIf="password?.errors?.['required']" class="text-danger error-message-place">password is required.</small>
              <small *ngIf="password?.errors?.['pattern']" class="text-danger error-message-place">password should require min 8 Characters and it should contain one uppercase and one number.</small>
          </p>
            <tr class="passwordConfrim">
              <td id="lb"><label>Confrim Password</label></td>
              <td><input type="password" formControlName="confirmPassword" autocomplete="false" placeholder="Enter" minlength="8" maxlength="14"><span
                  class="must">*</span></td>
            </tr>
            <small *ngIf="superUserForm?.errors?.['notmatched']" class="text-danger error-message-place">Password and conform Password should be same.</small>
            <tr>
              <td></td>
            </tr>
            <tr id="pad">
              <td id="lb"><label>First Name</label></td>
              <td><input type="text" placeholder="Enter" formControlName="firstName" maxlength="20"><span class="must">*</span></td>
            </tr>
            <p  *ngIf="firstName?.invalid && (firstName?.touched || firstName?.dirty)" class="validations-p">
              <small *ngIf="firstName?.errors?.['required']" class="text-danger error-message-place">FirstName is required.</small>
              <small *ngIf="firstName?.errors?.['pattern']" class="text-danger error-message-place">Special Character is not allowed.</small>
          </p>
            <!-- <div class="er" *ngIf="error && error?.Special">{{error?.Special}}</div> -->
            <tr>
              <td id="lb"><label>Last Name</label></td>
              <td><input type="text" placeholder="Enter" formControlName="lastName" maxlength="20"></td>
            </tr>
              <small *ngIf="lastName?.errors?.['pattern']" class="text-danger error-message-place">Special Character is not allowed.</small>
            <tr>
              <td id="lb"><label>Phone</label></td>
              <td><input placeholder="Enter" formControlName="phone" type="text" maxlength="12"><span class="must">*</span></td>
            </tr>
            <p *ngIf="phone?.invalid && (phone?.touched || phone?.dirty)" class="validations-p">
              <small *ngIf="phone?.errors?.['required']" class="text-danger error-message-place">phone number is required.</small>
              <small *ngIf="phone?.errors?.['minlength']" class="text-danger error-message-place">Please enter a valid phone number.</small>
              <small *ngIf="phone?.errors?.['maxlength']" class="text-danger error-message-place">Please enter a valid phone number.</small>
              <small *ngIf="phone?.errors?.['pattern']" class="text-danger error-message-place">Only Numeric values are allowed.</small>

            </p>
            <tr>
              <td id="lb"><label>Time Zone</label></td>
              <td><select name="timezone" formControlName="timezone" id="opentimezone">
                  <option value="Pacific/Midway">Pacific/Midway(GMT-11:00)</option>
                  <option value="Pacific/Honolulu GMT-10:00">Pacific/Honolulu(GMT-10:00)</option>
                  <option value="America/Juneau GMT-9:00">America/Juneau(GMT-9:00)</option>
                  <option value="America/Los_Angeles GMT-8:00">America/Los_Angeles(GMT-8:00)</option>
                  <option value="America/Phoenix GMT-7:00">America/Phoenix(GMT-7:00)</option>
                  <option value="America/Chicago GMT-6:00">America/Chicago(GMT-6:00)</option>
                  <option value="America/New_York GMT-5:00">America/New_York(GMT-5:00)</option>
                  <option value="America/Santiago GMT-4:00">America/Santiago(GMT-4:00)</option>
                  <option value="America/Sao_Paulo GMT-3:00">America/Sao_Paulo(GMT-3:00)</option>
                  <option value="Atlantic/South_Georgia GMT-2:00">Atlantic/South_Georgia(GMT-2:00)</option>
                  <option value="Atlantic/Azores GMT-1:00">Atlantic/Azores(GMT-1:00)</option>
                  <option value="Europe/London GMT+0:00">Europe/London(GMT+0:00)</option>
                  <option value="Europe/Paris GMT+1:00">Europe/Paris(GMT+1:00)</option>
                  <option value="Africa/Cairo GMT+2:00">Africa/Cairo(GMT+2:00)</option>
                  <option value="Asia/Qatar GMT+3:00">Asia/Qatar(GMT+3:00)</option>
                  <option value="Asia/Dubai GMT+4:00">Asia/Dubai(GMT+4:00)</option>
                  <option value="Asia/Karachi GMT+5:00">Asia/Karachi(GMT+5:00)</option>
                  <option value="IST GMT+5:30" selected="selected">IST(Bangalore / Bombay / New Delhi) (GMT+5:30)
                  </option>
                  <option value="Asia/Kathmandu GMT+5:45">Asia/Kathmandu(GMT+5:45)</option>
                  <option value="Asia/Dhaka GMT+6:00">Asia/Dhaka(GMT+6:00)</option>
                  <option value="Asia/Bangkok GMT+7:00">Asia/Bangkok(GMT+7:00)</option>
                  <option value="Asia/Hong_Kong GMT+8:00">Asia/Hong_Kong(GMT+8:00)</option>
                  <option value="Asia/Tokyo GMT+9:00">Asia/Tokyo(GMT+9:00)</option>
                  <option value="Australia/Adelaide GMT+9:30">Australia/Adelaide(GMT+9:30)</option>
                  <option value="Australia/Melbourne GMT+10:00">Australia/Melbourne(GMT+10:00)</option>
                  <option value="Asia/Magadan GMT+11:00">Asia/Magadan(GMT+11:00)</option>
                  <option value="Pacific/Fiji GMT+12:00">Pacific/Fiji(GMT+12:00)</option>
                </select></td>
            </tr>
          </table>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="cpBtn">Create</button>
          </div>
        </form>
      </div>
      <!-- <div class="modal-footer"> -->
      <!-- </div> -->
    </div>
  </div>
</div>
<div class="modal" id="depositChip" role="dailog">
  <div class="modal-dailog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Change Status</h4>
        <i class="fa-solid fa-square-xmark cross" id="sclose" data-dismiss="modal"
                aria-label="Close"></i>
      </div>
      <!-- <div class="modal-body" id="dcmodal"> -->
      <div class="card" id="change-status-body">
        <div class="d">
          <div>
            <div class="b1"><button class="badg">SUA</button></div>
          <div class="b2"><p >satest</p></div>
          <div class="b3"><p class="pp2" ><span class="dot"></span>Active</p></div>
          </div>
        </div>
        <hr style="margin:0;">
        <!-- </div> -->
        <div class="seconddiv">
          <button [class]="currentStatus==0?'btn98a':'btn98'" (click)="changeStatus(0)">
            <a href="#" class="a">
              <img class="img1" src="../../assets/active.png">
            </a>
            <br>
            Active
          </button>
          <button [class]="currentStatus==1?'btn99a':'btn99'" (click)="changeStatus(1)">
            <a href="#" class="b">
              <img class="img1" src="../../assets/Prohibb.png">

            </a>
            <br>
            Suspend
          </button>

          <button [class]="currentStatus==2?'btn100a':'btn100'" (click)="changeStatus(2)">
            <a href="#" class="c">
              <i class="fa fa-lock iconspn"></i>

            </a>
            <br>
            Locked
          </button>

        </div>

      </div>

      <div class="passblock"  >
        <form method="post" autocomplete="off" [formGroup]="passwordForm" (ngSubmit)="updateUserStatus()">
        <tr>
        <td class="label">Password</td>
        <td><div><input type="password" formControlName="password" class="plh"  placeholder="Enter" >
          <button type="submit" class="matchs" id="change">Change</button>
        </div></td>
        <!-- <td></td> -->
        <small *ngIf="passError" class="red">{{passError}}</small>
        </tr>
      </form>

      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal" role="dailog">
  <div class="modal-dailog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Credit Reference Edit</h4>
        <span class="xbttn" data-dismiss="modal"
        aria-label="Close">x</span>
      </div>
      <!-- <div> -->
      <div class="card-body body" id="abc">
        <div class="d-flex">
          <p class="p1">Current</p>
          <p class="p2">0</p>
          <button class="button5">
            <span class="span1">Log</span>
          </button>
        </div>
        <div>
          <label class="inputbody">New</label>
          <input class="searchbtn" placeholder="Enter" />
        </div>
        <div class="div1">
          <label class="inputbody1">password</label>
          <input class="searchbtn1" placeholder="Enter" />
        </div>
        <!--  -->
      </div>
      <div class="body1">
        <button class="match_buttons">Submit</button>

      </div>
    </div>
  </div>
</div>
