<app-navigation></app-navigation>
<div class="main">
<div class="newsBlock">
  <div class="content">
    <span>News</span>
    <marquee class="message"><i class="idate">31 Jul 2022</i>Notice: S RAJU RUN FANCY WRONG ODDS BETS WILL BE DELETED</marquee>
  </div>
</div>
<div class="searchblock">
  <div class="searchtd">
    <div class="search-wrap searchbox">
      <i class="fa fa-search"></i><input type="text" placeholder="Find member..." class="searchTB" (keyup)="searchValue($event)"><button type="button" class="btnSearch" (click)="searchValue(currentSearch)">Search</button>
    </div>
  </div>
  <div class="statusfilter">
    Status
    <select id="adminStatusFilter" (change)="getUserByStatus($event)">
      <option value="Active">ACTIVE</option>
      <option value="Suspended">SUSPENDED</option>
      <option value="Locked">LOCKED</option>
      <option value="All">ALL</option>
  </select></div>
  <div class="addAdminblock">
    <button type="button" class="addAdmin" data-toggle="modal" data-target="#superAdminpop"><i class="fa fa-user-plus" aria-hidden="true"></i>
      Add Super Admin</button>
    <button type="button" class="refresh"><i class="fa fa-refresh" aria-hidden="true"></i>
    </button>
  </div>
</div>
<div class="statistics">
  <div class="stats1"><li>Total Balance</li>
    <li class="pbu">PBU 613,771,780.316</li>
    </div>
  <div class="stats2">
    <li>Total Exposure</li>
    <li class="pbu">PBU 22.00</li>
  </div>
  <div class="stats3">
    <li>Total Avail. bal.</li>
    <li class="pbu">PBU 613,771,758.316</li>
  </div>
  <div class="stats4">
    <li>Balance</li>
    <li class="pbu">PBU 389,175,898.50</li>
  </div>
  <div class="stats5">
    <li>Available Balance</li>
    <li class="pbu">PBU 1,002,947,656.816</li>
  </div>
  <div class="stats6">
    <li>Total Player Balance</li>
    <li class="pbu">PBU 130,779,882.99</li>
  </div>
</div>
<div class="data">
<table class="accountdetails">
  <tr class="th">
    <td>Account</td>
    <td>Credit Ref.</td>
    <td>Balance</td>
    <td>Exposure</td>
    <td>Avail. bal.</td>
    <td>Player Balance</td>
    <td>Ref. P/L</td>
    <td>Status</td>
    <td>Action</td>
  </tr>
  <tr *ngFor="let item of accountDetails | searchFilter:currentSearch;let i=index;" class="accountData">
    <td><span class="badge badge-primary">SUA</span> &nbsp;<a href="#">{{item.userName}}</a></td>
    <td><a href="#" class="credRef">{{item.creditRef}}</a> <i class='fas fa-pen'></i></td>
    <td><a href="#" class="bal">{{item.balance}}</a></td>
    <td><button type="button" class="exposure">{{item.exposure}}</button></td>
    <td>{{item.availBalance}}</td>
    <td>{{item.balance}}</td>
    <td>{{item.refProfitLoss}}</td>
    <td><button type="button" class="status">{{item.adminstatus}}</button></td>
    <td>
      <!-- <button type="button"><i class="fas fa-long-arrow-alt-up"></i><i class="fas fa-long-arrow-alt-down"></i></button>
      <button type="button"></button>
      <button type="button"><i class="fa fa-gear"></i></button>
      <button type="button"><i class="material-icons">person</i></button> -->
    </td>
  </tr>
</table>
</div>
<div class="bottomBlock">
  <div class="changeStatus">Change Status</div>
  <div class="profile">Profile</div>
  <div class="bH">Betting History</div>
  <div class="betPL">Betting Profit & Loss</div>
  <div class="bank">Bank</div>
</div>
</div>

<!-- Add super admin popup -->
<div class="modal" id="superAdminpop" role="dailog">
  <div class="modal-dailog modal-sm">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Add Super Admin</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span id="crs" aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form method="post" autocomplete="off" [formGroup]="superUserForm" (ngSubmit)="createAdmin()">
              <table class="table2">
                  <tr><td id="lb"><label>Select Website</label></td><td><select name="webs" id="openselectWebsite" formControlName="site">
                    <option>Select Website</option>
                    <option>wonderbets.in</option>
                    <option>laserbook23.com</option>
                  </select><span class="must">*</span></td></tr>
                  <tr><td id="lb"><label>E-mail</label></td><td><input type="email" placeholder="Enter Email" formControlName="email"><span class="must">*</span></td></tr>
                  <tr><td id="lb"><label>Username</label></td><td><input type="text" placeholder="Enter" formControlName="userName"><span class="must">*</span></td></tr>
                  <tr><td id="lb"><label>Password</label></td><td><input type="password" placeholder="Enter" formControlName="password"><span class="must">*</span></td></tr>
                  <tr class="passwordConfrim"><td id="lb"><label>Confrim Password</label></td><td><input type="password" formControlName="confirmPassword" placeholder="Enter"><span class="must">*</span></td></tr>
                  <tr><td></td></tr>
                  <tr id="pad"><td id="lb"><label>First Name</label></td><td><input type="text" placeholder="Enter" formControlName="firstName"><span class="must">*</span></td></tr>
                  <tr><td id="lb"><label>Last Name</label></td><td><input type="text" placeholder="Enter" formControlName="lastName"></td></tr>
                  <tr><td id="lb"><label>Phone</label></td><td><input type="text" placeholder="Enter" formControlName="phone"></td></tr>
                  <tr><td id="lb"><label>Time Zone</label></td><td><select name="timezone" formControlName="timezone" id="opentimezone">
                    <option value="Pacific/Midway">Pacific/Midway(GMT-11:00)</option>
                    <option value="Pacific/Honolulu GMT-10:00">Pacific/Honolulu(GMT-10:00)</option>
                    <option value="America/Juneau GMT-9:00">America/Juneau(GMT-9:00)</option>
                    <option value="America/Los_Angeles GMT-8:00">America/Los_Angeles(GMT-8:00)</option>
                    <option value="America/Phoenix GMT-7:00">America/Phoenix(GMT-7:00)</option>
                    <option value="America/Chicago GMT-6:00">America/Chicago(GMT-6:00)</option>
                    <option value="America/New_York GMT-5:00">America/New_York(GMT-5:00)</option>
                    <option value="America/Santiago GMT-4:00">America/Santiago(GMT-4:00)</option>
                    <option value="America/Sao_Paulo GMT-3:00">America/Sao_Paulo(GMT-3:00)</option>
                    <option value="Atlantic/South_Georgia GMT-2:00">Atlantic/South_Georgia(GMT-2:00)</option>
                    <option value="Atlantic/Azores GMT-1:00">Atlantic/Azores(GMT-1:00)</option>
                    <option value="Europe/London GMT+0:00">Europe/London(GMT+0:00)</option>
                    <option value="Europe/Paris GMT+1:00">Europe/Paris(GMT+1:00)</option>
                    <option value="Africa/Cairo GMT+2:00">Africa/Cairo(GMT+2:00)</option>
                    <option value="Asia/Qatar GMT+3:00">Asia/Qatar(GMT+3:00)</option>
                    <option value="Asia/Dubai GMT+4:00">Asia/Dubai(GMT+4:00)</option>
                    <option value="Asia/Karachi GMT+5:00">Asia/Karachi(GMT+5:00)</option>
                    <option value="IST GMT+5:30" selected="selected">IST(Bangalore / Bombay / New Delhi) (GMT+5:30)</option>
                    <option value="Asia/Kathmandu GMT+5:45">Asia/Kathmandu(GMT+5:45)</option>
                    <option value="Asia/Dhaka GMT+6:00">Asia/Dhaka(GMT+6:00)</option>
                    <option value="Asia/Bangkok GMT+7:00">Asia/Bangkok(GMT+7:00)</option>
                    <option value="Asia/Hong_Kong GMT+8:00">Asia/Hong_Kong(GMT+8:00)</option>
                    <option value="Asia/Tokyo GMT+9:00">Asia/Tokyo(GMT+9:00)</option>
                    <option value="Australia/Adelaide GMT+9:30">Australia/Adelaide(GMT+9:30)</option>
                    <option value="Australia/Melbourne GMT+10:00">Australia/Melbourne(GMT+10:00)</option>
                    <option value="Asia/Magadan GMT+11:00">Asia/Magadan(GMT+11:00)</option>
                    <option value="Pacific/Fiji GMT+12:00">Pacific/Fiji(GMT+12:00)</option>
                  </select><span class="must">*</span></td></tr>
                  <tr><td class="er" *ngIf="error">{{error}}</td><td></td></tr>
              </table>
              <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="cpBtn">Create</button>
              </div>
              </form>
          </div>
          <!-- <div class="modal-footer"> -->
          <!-- </div> -->
      </div>
  </div>
</div>
