<app-navigation></app-navigation>
<section style="background-color: #f0ece1">
  <div class="full-body">
    <h2 class="fw-bold">Market Result</h2>
    <div class="funtion_wraper col-lg-12 d-flex ">

        <div class=" total-all d-flex " >
           <label class="mt-2">Select Sport</label>
            <td class="">
                <select class="sportnames">
                 <option class="main" value="-1">Select Sport</option>
                  <option>Cricket</option>
                 <option>Tennis</option>
                 <option>Soccer</option>
                </select>
            </td>
        </div>


        <div class=" total-all d-flex  text-center" >
             <label class="mt-2">Select Math</label>
            <td class="">
                <select class="sportnames" >
               </select>
            </td>
        
        </div>


      <div class=" total-all d-flex  text-center" >
        <label class="mt-2">Select Market</label>
        <td class="">
          <select class="sportnames" >
          </select>
        </td>
        
      </div>

      <div class=" total-all d-flex  text-center" >
        <label class="mt-2">Select Winner</label>
        <td class="">
          <select class="sportnames" >
            <!-- <option class="main" value="-1"></option> -->
            
          </select>
        </td>
        
      </div>
      <div>
        <td><button class="match_btn">Set Result</button></td>
      </div>
    </div>

    <div class="funtion_wrapers col-lg-12 d-flex ">

        <div class=" total-all d-flex " >
           <label class="mt-2">Sport:</label>
            <td class="">
                <select class="sportnames">
                 <option class="main" value="-1">Select Sport</option>
                  <option>Cricket</option>
                 <option>Tennis</option>
                 <option>Soccer</option>
                </select>
            </td>
        </div>


        <div class=" total-all d-flex  text-center" >
             <label class="mt-2">From</label>
            <td class="">
               <input class="cal-input" type="datetime-local" placeholder="YYY-MM-DD">
            </td>
        
        </div>


      <div class=" total-all d-flex  text-center" >
        <label class="mt-2">To</label>
        <td class="">
            <input class="cal-input" type="datetime-local" placeholder="YYY-MM-DD">
        </td>
        
      </div>
      <div>
        <td><button class="match_btn">Search</button></td>
      </div>
      <div class=" text-center d-flex field " >
        <button class="search" style="height: 1px;"><i class="fa-solid fa-magnifying-glass" ></i></button>
        <input class="searchbtn "   placeholder="Search here...">
        
      </div>
      
    </div>

  </div>
</section>
