<app-navigation></app-navigation>
<section class="main">
  <div class="full-body">
    <div class="games">
      <h2 class="heading">Cricket</h2>
      <table class="table table_data mb-2">
        <thead>
          <tr class="fw-bold">
            <th class="align-L1" >Event Id</th>
            <th class="align-L2" >Market Id</th>
            <th class="align-L3" >Match Name</th>
            <th class="align-L4" >Action</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let item of cricketList;let i=index;">
            <td>{{item.eventId}}</td>
            <td>{{item.marketId}}</td>
            <td>
              <li class="game_date" style="list-style: none">
                {{item.openDate}}
              </li>
              <li class="game_name" style="list-style: none">
                {{item.eventName}}
              </li>
            </td>
            <td><button class="match_btn" (click)="addMatch(item)">Add Match</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="games1">
      <h2 class="heading">Tennis</h2>

      <table class="table table_data mb-2">
        <thead>
          <tr class="fw-bold">
            <th class="align-L1" >Event Id</th>
            <th class="align-L2" >Market Id</th>
            <th class="align-L3" >Match Name</th>
            <th class="align-L4" >Action</th>
          </tr>
        </thead>
        <tbody class="tbody">
        <tr *ngFor="let item of soccerList;let i=index;">
            <td>{{item.eventId}}</td>
            <td>{{item.marketId}}</td>
            <td>
              <li class="game_date" style="list-style: none">
                {{item.openDate}}
              </li>
              <li class="game_name" style="list-style: none">
                {{item.eventName}}
              </li>
            </td>
            <td><button class="match_btn" (click)="addMatch(item)">Add Match</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="games2">
      <h2 class="heading">Tennis</h2>

      <table class="table table_data mb-2">
        <thead>
          <tr class="fw-bold">
            <th class="align-L1" >Event Id</th>
            <th class="align-L2" >Market Id</th>
            <th class="align-L3" >Match Name</th>
            <th class="align-L4" >Action</th>
          </tr>
        </thead>
        <tbody class="tbody">
        <tr *ngFor="let item of tennisList;let i=index;">
            <td>{{item.eventId}}</td>
            <td>{{item.marketId}}</td>
            <td>
              <li class="game_date" style="list-style: none">
                {{item.openDate}}
              </li>
              <li class="game_name" style="list-style: none">
                {{item.eventName}}
              </li>
            </td>
            <td><button class="match_btn" (click)="addMatch(item)">Add Match</button></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>
