<app-navigation></app-navigation>
<section style="background-color: #e4e4e4">
<div class="full-body" style="margin-bottom: 10px;">
    <div class="games">
        <h2 class="heading">Cricket</h2>
    </div>
    <table class="table table_data ">
        <thead>
          <tr class="fw-bold">
            <th scope="align-L" style="width: 10%;">Event Id</th>
            <th scope="align-L" style="width: 10%;">Market Id</th>
            <th scope="align-L" style="width: 60%;">Match Name</th>
            <th scope="align-L" style="width: 20%;">Action</th>
          </tr>
        </thead>
        <tbody style="font-weight: 600;">
          <tr >
            <td >32055407</td>
            <td>1.209133980</td>
            <td><span class="game_date">Tue, 14 Feb 2023 20:00:00</span>
                <br>
                <span class="game_name">Karachi Kings v Peshawar Zalmi</span>
            </td>
            <td><button class="match_btn" >Add Match</button></td>
          </tr>

          <tr >
            <td >32055407</td>
            <td>1.209133980</td>
            <td><span class="game_date">Tue, 14 Feb 2023 20:00:00</span>
                <br>
                <span class="game_name">Karachi Kings v Peshawar Zalmi</span>
            </td>
            <td><button class="match_btn" >Add Match</button></td>
          </tr>

          <tr >
            <td >32055407</td>
            <td>1.209133980</td>
            <td><span class="game_date">Tue, 14 Feb 2023 20:00:00</span>
                <br>
                <span class="game_name">Karachi Kings v Peshawar Zalmi</span>
            </td>
            <td><button class="match_btn" >Add Match</button></td>
          </tr>

        </tbody>
      </table>
      

      <br>

      <div class="games">
        <h2 class="heading">Tennis</h2>
    </div>
    <table class="table table_data">
        <thead>
                        
          <tr class="fw-bold">
            <th scope="align-L" style="width: 10%;">Event Id</th>
            <th scope="align-L" style="width: 10%;">Market Id</th>
            <th scope="align-L" style="width: 60%;">Match Name</th>
            <th scope="align-L" style="width: 20%;">Action</th>
          </tr>
        </thead>
        <tbody style="font-weight: 600;">
          <tr >
            <td >32055407</td>
            <td>1.209133980</td>
            <td><span class="game_date">Tue, 14 Feb 2023 20:00:00</span>
                <br>
                <span class="game_name">Karachi Kings v Peshawar Zalmi</span>
            </td>
            <td><button class="match_btn" >Add Match</button></td>
          </tr>

          <tr >
            <td >32055407</td>
            <td>1.209133980</td>
            <td><span class="game_date">Tue, 14 Feb 2023 20:00:00</span>
                <br>
                <span class="game_name">Karachi Kings v Peshawar Zalmi</span>
            </td>
            <td><button class="match_btn" >Add Match</button></td>
          </tr>

          <tr >
            <td >32055407</td>
            <td>1.209133980</td>
            <td><span class="game_date">Tue, 14 Feb 2023 20:00:00</span>
                <br>
                <span class="game_name">Karachi Kings v Peshawar Zalmi</span>
            </td>
            <td><button class="match_btn" >Add Match</button></td>
          </tr>

        </tbody>
      </table>

      <br>
      <div class="games">
        <h2 class="heading">Tennis</h2>
    </div>
    <table class="table table_data">
        <thead>
                        
          <tr class="fw-bold">
            <th scope="align-L" style="width: 10%;">Event Id</th>
            <th scope="align-L" style="width: 10%;">Market Id</th>
            <th scope="align-L" style="width: 60%;">Match Name</th>
            <th scope="align-L" style="width: 20%;">Action</th>
          </tr>
        </thead>
        <tbody style="font-weight: 600;">
          <tr >
            <td >32055407</td>
            <td>1.209133980</td>
            <td><span class="game_date">Tue, 14 Feb 2023 20:00:00</span>
                <br>
                <span class="game_name">Karachi Kings v Peshawar Zalmi</span>
            </td>
            <td><button class="match_btn" >Add Match</button></td>
          </tr>

          <tr >
            <td >32055407</td>
            <td>1.209133980</td>
            <td><span class="game_date">Tue, 14 Feb 2023 20:00:00</span>
                <br>
                <span class="game_name">Karachi Kings v Peshawar Zalmi</span>
            </td>
            <td><button class="match_btn" >Add Match</button></td>
          </tr>

          <tr >
            <td >32055407</td>
            <td>1.209133980</td>
            <td><span class="game_date">Tue, 14 Feb 2023 20:00:00</span>
                <br>
                <span class="game_name">Karachi Kings v Peshawar Zalmi</span>
            </td>
            <td><button class="match_btn" >Add Match</button></td>
          </tr>

        </tbody>
      </table>
</div>
</section>
