<app-navigation></app-navigation>
<section style="background-color: #f0ece1">
  <div class="full-body">
    <div class="games">
      <h2 class="heading">Cricket</h2>
      <table class="table table_data mb-2">
        <thead>
          <tr class="fw-bold">
            <th scope="align-L" style="width: 10%">Event Id</th>
            <th scope="align-L" style="width: 10%">Market Id</th>
            <th scope="align-L" style="width: 60%">Match Name</th>
            <th scope="align-L" style="width: 20%">Action</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td>32055407</td>
            <td>1.209133980</td>
            <td>
              <li class="game_date" style="list-style: none">
                Tue, 14 Feb 2023 20:00:00
              </li>
              <li class="game_name" style="list-style: none">
                Karachi Kings v Peshawar Zalmi
              </li>
            </td>
            <td><button class="match_btn">Add Match</button></td>
          </tr>

          <tr>
            <td>32055407</td>
            <td>1.209133980</td>
            <td>
              <li class="game_date" style="list-style: none">
                Tue, 14 Feb 2023 20:00:00
              </li>
              <li class="game_name" style="list-style: none">
                Karachi Kings v Peshawar Zalmi
              </li>
            </td>
            <td><button class="match_btn">Add Match</button></td>
          </tr>

          <tr>
            <td>32055407</td>
            <td>1.209133980</td>
            <td>
              <li class="game_date" style="list-style: none">
                Tue, 14 Feb 2023 20:00:00
              </li>
              <li class="game_name" style="list-style: none">
                Karachi Kings v Peshawar Zalmi
              </li>
            </td>
            <td><button class="match_btn">Add Match</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="games">
      <h2 class="heading">Tennis</h2>

      <table class="table table_data mb-2">
        <thead>
          <tr class="fw-bold">
            <th scope="align-L" style="width: 10%">Event Id</th>
            <th scope="align-L" style="width: 10%">Market Id</th>
            <th scope="align-L" style="width: 60%">Match Name</th>
            <th scope="align-L" style="width: 20%">Action</th>
          </tr>
        </thead>
        <tbody
          style="
            font-weight: 600;
            height: 1rem !important;
            border-bottom: 1px solid black;
          "
        >
          <tr>
            <td>32055407</td>
            <td>1.209133980</td>
            <td>
              <li class="game_date" style="list-style: none">
                Tue, 14 Feb 2023 20:00:00
              </li>
              <li class="game_name" style="list-style: none">
                Karachi Kings v Peshawar Zalmi
              </li>
            </td>
            <td><button class="match_btn">Add Match</button></td>
          </tr>

          <tr>
            <td>32055407</td>
            <td>1.209133980</td>
            <td>
              <li class="game_date" style="list-style: none">
                Tue, 14 Feb 2023 20:00:00
              </li>
              <li class="game_name" style="list-style: none">
                Karachi Kings v Peshawar Zalmi
              </li>
            </td>
            <td><button class="match_btn">Add Match</button></td>
          </tr>

          <tr>
            <td>32055407</td>
            <td>1.209133980</td>
            <td>
              <li class="game_date" style="list-style: none">
                Tue, 14 Feb 2023 20:00:00
              </li>
              <li class="game_name" style="list-style: none">
                Karachi Kings v Peshawar Zalmi
              </li>
            </td>
            <td><button class="match_btn">Add Match</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="games">
      <h2 class="heading">Tennis</h2>

      <table class="table table_data mb-2">
        <thead>
          <tr class="fw-bold">
            <th scope="align-L" style="width: 10%">Event Id</th>
            <th scope="align-L" style="width: 10%">Market Id</th>
            <th scope="align-L" style="width: 60%">Match Name</th>
            <th scope="align-L" style="width: 20%">Action</th>
          </tr>
        </thead>
        <tbody
          style="
            font-weight: 600;
            height: 1rem !important;
            border-bottom: 1px solid black;
          "
        >
          <tr>
            <td>32055407</td>
            <td>1.209133980</td>
            <td>
              <li class="game_date" style="list-style: none">
                Tue, 14 Feb 2023 20:00:00
              </li>
              <li class="game_name" style="list-style: none">
                Karachi Kings v Peshawar Zalmi
              </li>
            </td>
            <td><button class="match_btn">Add Match</button></td>
          </tr>

          <tr>
            <td>32055407</td>
            <td>1.209133980</td>
            <td>
              <li class="game_date" style="list-style: none">
                Tue, 14 Feb 2023 20:00:00
              </li>
              <li class="game_name" style="list-style: none">
                Karachi Kings v Peshawar Zalmi
              </li>
            </td>
            <td><button class="match_btn">Add Match</button></td>
          </tr>

          <tr>
            <td>32055407</td>
            <td>1.209133980</td>
            <td>
              <li class="game_date" style="list-style: none">
                Tue, 14 Feb 2023 20:00:00
              </li>
              <li class="game_name" style="list-style: none">
                Karachi Kings v Peshawar Zalmi
              </li>
            </td>
            <td><button class="match_btn">Add Match</button></td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</section>