*{
    margin: 0;
    padding: 0;
}
/* .full-body{
    border-right-width:1px solid #ffb90e
} */
.heading{
    background: #ffb90e;
    margin: 0;
    padding: 5px;
    font-size: 15px;
    line-height: 20px;
    width: 95%;
    margin: auto;
} 
.table_data{
    background-color: white;
    width: 95%;
    margin: auto;
    font-size: 15px;
   
}
 th{
    color: #243a48;
    background-color: #e4e4e4;
    border: 1px solid #7e97a7;
    border-width: 1px 0 1px 0;
    padding: 6px
}
.game_date{
    color: #113a17;
    font-size: 12px
}
 .game_name{
    color: #4083a9;
    font-size: 14px;
} 
.match_btn{
    background: #ffb90e;
    border-color: #cb8009;
    width: 120px;
    margin-right: 1px;
    border: 1px solid #bbb;
    border-radius: 4px;
    color: #1e1e1e;
    font-weight: bold;
    line-height: 23px;
    font-size: 12px;
}

.games
{
    padding-top: 10px;
}
.table_body{
    font-weight: 600;
            height: 1rem !important;
            border-bottom: 1px solid black;
}