.main{
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    margin: 0;
    padding: 5px;
    font-size: 15px;
    line-height: 20px;
    width: 98%;
    margin: auto;
} 
/* .sportnames{
    width: 8rem;
    height: 29px;
    border-radius: 0px;
    border: 1px solid black;
} */
.sportname{
    width: 8rem; 
    height: 34px;
}
th{
    color: #243a48;
    background-color: #e4e4e4;
    border: 1px solid #7e97a7;
    border-width: 1px 0 1px 0;
    padding: 6px
}
.sportsn{
    width: 8rem; 
    height: 24px;
     border-radius: 2px;
      border:1px solid black
}
.match_btn{
    background: #ffb90e;
    border-color: #cb8009;
    width: 77px;
    margin-right: 1px;
    border: 1px solid #bbb;
    border-radius: 4px;
    color: #1e1e1e;
    font-weight: bold;
    line-height: 23px;
    font-size: 12px;
}
.match_bttn{
    background: #dc143c;
    /* border-color: #cb8009; */
    width: 79px;
    margin-right: 1px;
    border: 1px solid #bbb;
    border-radius: 4px;
    color: #1e1e1e;
    font-weight: bold;
    line-height: 23px;
    font-size: 12px;
}

.total-all .sportnames{
    height: 31px;
    line-height: 30px;
    margin: 0;
    width: 126px;
    font-family: Arial, Helvetica, sans-serif;
}
/* .total-all option{
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;

} */
td{
    font-weight: 700;
    font-size: 13px;
    border-top: 1px solid #eee;
    padding: 6px 10px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    color: #243a48;
    background-color: #e4e4e4;
    border: 1px solid #7e97a7;
    border-width: 1px 0 1px 0;
    padding: 6px 10px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

}