<app-navigation></app-navigation>
<section class="main_section">
  <div class="wrapper">
    <div class="sports">
          <h5 class="heading p-2" >Set Fancy Result</h5>
      <div class="d-flex p-2 total-all" >
        <label class="mt-2  select " ><small>Select Sport:</small> </label>
          <td>
            <select class="sportnames"   >
              <option  value="-1" >Select Sport</option>
              <option>Cricket</option>
              <option>Tennis</option>
              <option>Soccer</option>
            </select>
          </td>
          <label class="mt-2"><small >Select Match:</small></label>
            <td>
              <select class="sportnames" >
              </select>
            </td>   
      </div>
      <div>
        <table class="table">
            <thead >
                  <tr>
                    <th scope="col">Sport</th>
                    <th scope="col">Fancy ID</th>
                    <th scope="col">Fancy Name</th>
                    <th scope="col">Match Name</th>
                  </tr>
            </thead>
            <tbody >
              <tr>
                <td>Cricket</td>
                <td>32019308-6291000.FY</td>
                <td>Who will win the Toss</td>
                <td>Canterbury v Central Districts</td>
              </tr>
              <tr>
                <td >
                  <select class="sportsn " >
                    <option>Select </option>
                    <option value="Canterbury">Canterbury</option>
                    <option value="Central Districts">Central Districts</option>
                  </select>
                </td>
                <td><button class="set_btn">Set</button></td>
                <td><button class="suspend_btn">Suspended</button></td>
                <td></td>
              </tr>
            </tbody>
        </table>
      </div>
      <div class="funtion_wraper ">
        <div class="sports_winner" >
          <div>
              <label class="inputs">Sport:</label><select class="options"><option>Cricket</option><option>Soccer</option><option>Tenis</option></select>
               <label  class="inputbody">Form</label><input class="date" [value]="currentDate" type="datetime-local" placeholder="YYY-MM-DD">
               <label  class="inputbody">to</label><input class="date"  [value]="currentDate" type="datetime-local" placeholder="YYY-MM-DD">
               <button class="search_button">Search</button>
               <input class="searchbtn"  placeholder="Search Match">
               
          </div>
        </div>
      </div>

      <div>
        <table class="table">
            <thead >
                  <tr class="">
                    <th  scope="col">Sport</th>
                    <th  scope="col">Date</th>
                    <th  scope="col">Match Name</th>
                    <th  scope="col">EventId</th>
                    <th  scope="col">MarketId</th>
                    <th  scope="col">Result Status</th>
                    <th  scope="col">Action</th>

                  </tr>
            </thead>
            <tbody >
              <tr class="button_section">
                <td>Cricket</td>
                <td>2023-02-14 20:00:00</td>
                <td>Karachi Kings v Peshawar Zalmi</td>
                <td>32055407</td>
                <td>	1.209133980</td>
                <td>OPEN</td>
                <td>
                  <button class="fancy_button">Show fancy</button>
                </td>
              </tr>
              
            </tbody>
        </table>
      </div>
    </div>
  </div>
</section>