<app-navigation></app-navigation>
<section style="background-color: #f0ece1;">
    <div class="wrapper">
        <div class="sports">
            <h5 class="main  p-2" style="font-size: 14px;font-weight: 550;">Set Fancy Result</h5>
            <div class="d-flex p-2 total-all" >
                <label class="mt-1 main " style="margin-right: 15px;"><small>Select Sport:</small> </label>
                <td>
              <select class="sportnames " style="margin-right: 5px;"  >
                <option class="main" value="-1" >Select Sport</option>
                <option >Cricket</option>
                <option >Tennis</option>
                <option >Soccer</option>
               </select>
              </td>

                <label class="mt-1" style="margin-right: 15px;"><small >Select Match:</small></label>
                <td>
                  <select class="sportnames"  >
                    <option class="main">Select Sport</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                    </select>
                </td>
              
           </div>
           <div>

            <table class="table">
                <thead class="">
                  <tr>
                    <th scope="col">Sport</th>
                    <th scope="col">Fancy ID</th>
                    <th scope="col">Fancy Name</th>
                    <th scope="col">Match Name</th>
                  </tr>
                </thead>
                <tbody style="background-color: white;">
                  <tr>
                    <td >Cricket</td>
                    <td>32019308-6291000.FY</td>
                    <td>Who will win the Toss</td>
                    <td>Canterbury v Central Districts
                    </td>
                  </tr>
                  <tr>
                    <td >
                        <select class="sportsn " style="margin-right: 5px;"  >
                            <option >Select </option>
                            <option value="saab">Canterbury</option>
                            <option value="opel">Central Districts</option>
                           </select>
                    </td>
                    <td><button class="match_btn">Set</button></td>
                    <td><button class="match_bttn" style="color: white;">Suspended</button></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>

           </div>
           

        </div>
    </div>
</section>

<!-- <section> -->
    <div class="wrapper">
        <div class="sportSetting">
       
            
        </div>
    </div>
<!-- </section> -->
