.main{
    width:100%;
    height:auto;
    overflow:hidden;
    padding-left:7%;
    padding-right:7%;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:5px;
  }
  .abadge{
    background-color: rgba(137, 199, 75, 0.911);
    border-radius: 40px 40px;
    width:23px;
    font-size:10px;
    margin-top:2px;
    color:#fff;
    float:left;
  }
  .subBlock{
    width:100%;
    height:auto;
    overflow: hidden;
  }
  .sideBlock{
    float:left;
    padding:5px;
    width:20%;
    text-align: left;
    cursor: pointer;
  }
  .rightBlock{
    float:left;
    padding:5px;
    width:80%;
  }
  .head{
    color: #fff;
      padding: 0 10px;
      background: #243a48;
      line-height: 25px;
      padding: 0 10px;
  }
  ul{
    width:100%;
  }
  li{
    list-style-type: none;
  }
  .heading{
    font-weight: bold;
    font-size:18px;
    margin-left: 15px;
  }
  .menu {
    border-bottom: 1px solid #E0E6E6;
    font-size: 12px;
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    color: rgb(18, 18, 253);
  }


  .menu2{
    font-size: 15px;
      font-weight: bold;
      margin-bottom: 7px;
  }
  .menu3{
    font-size: 30px;
      line-height: 36px;
      font-weight: bold;
      color: #2789ce;
  }
  sub{
    color:gray;
    font-size: 10px;
    font-weight: normal;
  }
  .bal{
    background-color: #fff;
    color: #3b5160;
    padding: 7px 10px 5px;
    border-bottom: 1px solid #7e97a7;
    margin-bottom: 15px;

  }
  .user{
    border: 1px solid #7E97A7;
    border-radius: 3px;
    font-size: 14px;
    color:#212121;
    width:100px;
    height:30px;
    margin-top: 10px;
    margin-bottom:10px;
    font-weight: bold;
  }
  .d{
    width: 31.37255%;
    border-right:1px solid #d8d8d8;
    margin-right: 10px;
  }

  .card-header {
    background-color: #7e97a7;
    color: #fff;
    line-height: 24px;
    padding: 0 10px;
  }
  .pro_wrap{
    background-color: #fff;
    border-bottom: 1px solid #7e97a7;
    margin-bottom: 15px;
  }
  .pro_wrap h3{
    background-color: #7e97a7;
    color: #fff;
    line-height: 24px;
    padding: 0 10px;
    font-size: 13px;
    font-weight: bold;
}
.pro_wrap dt {
    width: 125px;
    padding: 5px 0 5px 10px;
    color: #243a48;
    font-size: 11px;
    font-weight: 100;
}
 .pro_wrap dd{
    position: relative;
    min-height: 16px;
    padding: 5px 0 5px 10px;
    /* border-bottom: 1px solid #E0E6E6; */
    font-size: 11px;

}
dl{
    display: flex;
    margin-bottom: -6px;
}
.pen{
    font-size: 12px;
}
.icon{
    margin-left: 145px;
}
.modal-content{
    position: fixed;
    top: 95px;
    left: 50%;
    background-color: rgb(212, 211, 211);
    width: 430px;
    border-radius: 5px;
    padding: 15px;
    transform: translate(-50%, 0);
    border-radius: 7px;
  }
  h4{
    font-size: 16px;
    color: #3b5160;
    margin-bottom: 18px;
    font-weight: 600;
}
.btn-primary{
    background: #ffa00c url(/adminfiles/img/bg-send.gif) repeat-x;
    border-color: #be7f1a;
    color: #1e1e1e;
}
.btn-primary#cpBtn{
    margin-right: 120px;
    width: 35%;
    font-size: 10px;
    font-weight: 900;
}

h4{
    font-size: 19px;
    font-weight: bold;
    color: #3b5160;
    margin-bottom: 18px;
}

input{
    height: 24px;
    width: 160px;
    margin-left: 8px;
    border-radius: 5px;
    border: none;
    border-style: inset;
    border-width: 1px;
}
tr{
    font-size: 12px;
}
.confrimPassword{
    padding-left: 80px;
}
.error{
  color:#E83523;
  font-size:12px;
}
.btBox{
  text-align: center;
}
.btn1{
    width: 137px;
    margin-left: 49px;
    font-size: 14px;
    line-height: 9px;
    font-weight: bold;
}
.must{
    font-size: 13px;
    color: #d0021b;
}
.li{
  /* text-decoration: none; */
    color: #2789ce;
    outline: none;
}

.modal-footer{
    padding: 0;
    border: none;
}

.modal-header{
    padding: 0;
    border: none;
}

.modal-body{
    padding: 0;
}

label{
    padding-left: 40px;
}

.but_suspend{
    cursor: pointer;
}
#amt{
    margin-left: 105px;
    width: 50%;
    border: solid 0.3px black;
    background-color: rgb(223, 227, 230);
}

.modal-body#dcmodal{
    border-bottom: solid 0.5px rgb(44, 43, 43);
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 2px;
}
.btn-primary#dcBtn{
 margin-top: 20px;
 width: 20%;
 font-size: 13px;
 font-weight: 900;
 padding : 1px 0px
}
.pass1{
    margin-left: 47px;
}
.pass2{
    margin-left: 47px;
}
.input1{
    background-color: #efd3d9;
    color: #1e1e1e;
}
.icon{
    margin-left: 145px;
}
.newform{
    margin-left: -41px;
}
