<app-navigation></app-navigation>
<div class="main">
  <div class="userProfile">
    <button type="button" class="user"><div class="user_heading">A</div>admin</button>
  </div>
  <div class="subBlock">
    <div class="sideBlock">
        <li class="head_position" >Position</li>
        <li class="menu_position" routerLink="/Aaccountstatement">Account Statement</li>
        <li class="menu_position" routerLink="/account">Account Summary</li>
        <li class="head_position">Account Details</li>
        <li class="menu_position" routerLink="/Aprofile">Profile</li>
        <li class="menu_position" routerLink="/activitylog">Activity Log</li>
    </div>
    <div class="rightBlock">
      <div class="user_pro_heading">Profile</div>
      <div class="d-flex">
      <div class="col-md-6" >
      <div class="profile_data">
    <h3>About you</h3>
    <dl >
        <dt>First Name</dt>
        <dd>admin</dd>
    </dl>
    <dl>
        <dt>Last Name</dt>
        <dd>abc</dd>
    </dl>
    <dl>
        <dt>Birthday</dt>
        <dd>--</dd>
    </dl>
    <dl>
        <dt>E-mail</dt>
        <dd>abc@gmail.com</dd>
    </dl>
    <dl>
        <dt>password</dt>
        <dd>***************************************
            <a href="#"  role="button" data-toggle="modal" class="but_suspend openchangepwdmodal icon" data-target="#myModal">
                Edit
                <i class="fa fa-pencil pen"></i>
            </a>
        </dd>
    </dl>
    <dl>
        <dt>TimeZone</dt>
        <dd>IST</dd>
    </dl>
</div>
      </div>
      <div class="col-md-6 ">
        <div class="profile_data">
            <h3>Contact Details</h3>
            <dl >
                <dt>Primary Number</dt>
                <dd>0987654321</dd>
            </dl>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal" role="dailog">
    <div class="modal-dailog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <i class="fa-solid fa-square-xmark cross" data-dismiss="modal"
                aria-label="Close"></i>
            </div>
            <div class="modal-body">
              <form class="change_pass_form" method="post" autocomplete="off">
                <table class="text-center">
                    <tr><td ><label class="newpass1">New Password</label><input class="input1" type="text" placeholder="Enter"  ><span class="must">*</span></td></tr>
                    <tr><td><label>Confirm New Password </label><input type="text" placeholder="Enter" ><span class="must">*</span></td></tr>
                    <tr><td><label class="newpass2">Your Password</label><input type="text" placeholder="Enter"><span class="must">*</span></td></tr>
                  <tr><td class="error"></td></tr>
                  </table>
                <div class="change_btn_box"><button type="submit" class="btn btn-primary changebtn" >Change</button></div>
                </form>
            </div>

        </div>
    </div>
</div>
