<app-navigation></app-navigation>
<div class="full-wrap">
    <h2>In-Active Matches</h2>
    <div class="total_all banking-top">
      <div class="search-wrap" id="userSearchUl">
  
    
    <div class="search-wrap searchbox">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Search..." class="searchTB" >
      </div>
      </div>
    </div>
    <div class="table-wrap">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Sports</th>
                <th scope="col">Event Id	</th>
                <th scope="col">Market Id</th>
                <th scope="col" class="column1">Match</th>
                <th scope="col" class="column2">Date</th>
                <th scope="col" class="column3">Status</th>
                <th scope="col" class="column4">Action</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of matchList;let i=index;">
                  <td class="align-L1" id="ad">{{item.sportName}}</td>
                  <td class="align-L2" id="sa">{{item.eventId}}</td>
                  <td class="align-L3" id="ma">{{item.marketId}}</td>
                  <td class="align-L4" id="sm">{{item.eventName}}</td>
                  <td class="align-L5" id="mm">{{item.openDate}}</td>
                  <td class="align-L6" id="agm">{{item.isActive}}</td>
                  <td class="align-L" id="client">
                      <button class="matchs">Mark Inactive</button>
                      <button class="matchs">Suspend Match</button>
                      <button class="matchs">Manuplation</button>
                  </td>
                </tr>
          </tbody>
          </table>
        
           
                
    </div>
  </div>
  