<app-navigation></app-navigation>
<div class="full-wrap">
    <h2>In-Active Matches</h2>
    <div class="total_all banking-top">
      <div class="search-wrap" id="userSearchUl">
  
    
    <div class="search-wrap searchbox">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Search..." class="searchTB" >
      </div>
      </div>
    </div>
    <div class="table-wrap">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Sports</th>
                <th scope="col">Event Id	</th>
                <th scope="col">Market Id</th>
                <th scope="col" class="column1">Match</th>
                <th scope="col" class="column2">Date</th>
                <th scope="col" class="column3">Status</th>
                <th scope="col" class="column4">Action</th>


              </tr>
            </thead>
          </table>
        
           
                
    </div>
  </div>
  