/* You can add global styles to this file, and also import other style files */
/* body{
    background: #1D2C38 url(/assets/bg-login.jpg) no-repeat center;
    background-size: cover;
} */
/* body { */
  /* transform: scale(2);
  transform-origin: 0 0; */
  /* overflow: hidden; */
/* } */
* {
  box-sizing: border-box;
}
