<app-navigation></app-navigation>
<section class="main">
  <h5>Bet List Live</h5>
  <div class="betlistfilter">
    <div class="selectGroup">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
        <label class="form-check-label" for="inlineRadio1">All</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Soccer</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
        <label class="form-check-label" for="inlineRadio2">Tennis</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Cricket</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
        <label class="form-check-label" for="inlineRadio2">Cricket / Fancy Bet</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Cricket / Fancy1 Bet</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
        <label class="form-check-label" for="inlineRadio2">BOOK Cricket</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Toss</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
        <label class="form-check-label" for="inlineRadio2">Casino</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Election/Fancy Bet</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
        <label class="form-check-label" for="inlineRadio2">FancyBet</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Premium Fancy</label>
      </div>
    </div>
    <div class="filter2">
      <div class="funtion_wraper ">
        <div class="sportsBody" >
          <div>
              <label class="input">Order of display:</label><select class="sportStatus"><option>Stake</option><option>Player Id</option><option>Time</option></select>
               <label class="inputbody input">of</label><select class="sportStatus"><option>Ascending</option><option>Descending</option></select>
               <label class="inputbody input">Last:</label><select class="sportStatus"><option value="100">100 Txn</option><option value="50">50 Txn</option><option value="25" selected>25 Txn</option></select>
               <label class="inputbody input">Auto Refresh (Seconds)</label><select class="sportStatus"><option value="stop">Stop</option><option value="60">60</option><option value="30" >30</option> <option value="15" selected>15</option> <option value="5" >5</option> <option value="2">2</option></select>
               <label class="inputbody input">Bet Status:</label><select class="sportStatus"><option value="All">All</option></select>
               <button class="match_btn">Refresh</button>
          </div>
        </div>
    </div>
    </div>
  </div>

  <div>
 <!-- <h2 class="heading">Cricket</h2> -->
      <table class="table table_data mb-2">
        <thead>
          <tr class="fw-bold" >
            <th class="head" scope="align-L table_head" >UnMatched</th>
          </tr>
        </thead>
        <tbody class="table_body"
          >
            <tr>
              <td class="table_data">You have no bets in this time period.</td>
            </tr>
        </tbody>
      </table>
  </div>
  <div>
    <table class="table table_data mb-2">
      <thead>
        <tr class="fw-bold" >
          <th class="head" scope="align-L">Matched</th>
        </tr>
      </thead>
      <table class="table table_data ">
        <thead>
          <tr class="fw-bold tr"  >
            <th class="align-L1">PL ID</th>
            <th class="align-L2">Bet ID</th>
            <th class="align-L3">Bet placed</th>
            <th class="align-L4">IP Address</th>
            <th class="align-L5">Market</th>
            <th class="align-L6">Selection</th>
            <th class="align-L7">Type</th>
            <th class="align-L8">Odds req.	</th>
            <th class="align-L9">Stake</th>
            <th class="align-L10">Liability</th>
          </tr>
        </thead>
        <tbody  class="table_body_section">
          <tr>
            <td>nasir</td>
            <td><a href="#">9ae1420</a></td>
            
            <td>
              <li class="game_date" >
                Wed Aug 03 
              </li>
              <li class="game_date" >
                04:36:55
              </li>
              <li class="game_date">
                IST 2022              
              </li>
            </td>
            <td>223.233.7.178</td>
            <td>Cricket <i class="fa fa-play play" ></i> <strong>Ireland v South Africa</strong><i class="fa fa-play" style="color:beige;"></i> Match odds</td>
            <td>South Africa</td>
            <td> <a href="#">Lay</a></td>
            <td>0.21</td>
            <td>20</td>
            <td>4.2</td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>
  
</section>
