<app-navigation></app-navigation>
<section class="main">
  <h5>Bet List Live</h5>
  <div class="betlistfilter">
    <div class="selectGroup">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" (click)="onRadioChange($event.target)" value="All" />
        <label class="form-check-label" for="inlineRadio1"  #sportsvalue>All</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio"  name="inlineRadioOptions" id="inlineRadio1" (click)="onRadioChange($event.target)" value="Soccer" />
        <label class="form-check-label" for="inlineRadio1" value="Soccer">Soccer</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"  (click)="onRadioChange($event.target)" value="Tennis" />
        <label class="form-check-label" for="inlineRadio2" value="Tennis">Tennis</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" (click)="onRadioChange($event.target)" value="Cricket" />
        <label class="form-check-label" for="inlineRadio1"  value="Cricket">Cricket</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"  (click)="onRadioChange($event.target)" value="Cricket / Fancy1 Bet" />
        <label class="form-check-label" for="inlineRadio2" value="Cricket / Fancy Bet">Cricket / Fancy Bet</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"  (click)="onRadioChange($event.target)" value="Cricket / Fancy1 Bet" />
        <label class="form-check-label" for="inlineRadio1" value="Cricket / Fancy1 Bet">Cricket / Fancy1 Bet</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="onRadioChange($event.target)" value="BOOK Cricket"/>
        <label class="form-check-label" for="inlineRadio2"value="BOOK Cricket">BOOK Cricket</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"  (click)="onRadioChange($event.target)" value="Toss"/>
        <label class="form-check-label" for="inlineRadio1" value="Toss">Toss</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="onRadioChange($event.target)" value="Casino"/>
        <label class="form-check-label" for="inlineRadio2" value="Casino">Casino</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"  (click)="onRadioChange($event.target)" value="Election/Fancy Bet"/>
        <label class="form-check-label" for="inlineRadio1" value="Election/Fancy Bet">Election/Fancy Bet</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="onRadioChange($event.target)" value="FancyBet"/>
        <label class="form-check-label" for="inlineRadio2" value="FancyBet">FancyBet</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"  (click)="onRadioChange($event.target)" value="Premium Fancy"/>
        <label class="form-check-label" for="inlineRadio1" value="Premium Fancy">Premium Fancy</label>
      </div>
    </div>
    <div class="filter2">
      <div class="betlistselecter">
        <div class="betlistselecterBody" >
          <div>
              <label class="input">Order of display:</label><select class="selectedoption"><option value="Stake">Stake</option><option value="Player Id">Player Id</option><option value="Time">Time</option></select>
               <label class="input_label">of</label><select class="selectedoption"><option value="Ascending">Ascending</option><option value="Descending">Descending</option></select>
               <label class="input_label">Last:</label><select class="selectedoption"><option value="100">100 Txn</option><option value="50">50 Txn</option><option value="25" selected>25 Txn</option></select>
               <label class="input_label">Auto Refresh (Seconds)</label><select class="selectedoption"><option value="stop">Stop</option><option value="60">60</option><option value="30" >30</option> <option value="15" selected>15</option> <option value="5" >5</option> <option value="2">2</option></select>
               <label class="input_label">Bet Status:</label><select class="selectedoption" id="betstt1"><option value="All">All</option></select>
               <button class="refresh_btn">Refresh</button>
          </div>
        </div>
    </div>
    </div>
  </div>

  <div>
      <table class="table table_head_wrapper mb-2">
        <thead>
          <tr class="fw-bold" >
            <th class="table_head"  >UnMatched</th>
          </tr>
        </thead>
        <tbody class="table_body"
          >
            <tr>
              <td class="table_head_wrapper">You have no bets in this time period.</td>
            </tr>
        </tbody>
      </table>
  </div>
  <div>
    <table class="table table_head_wrapper mb-2">
      <thead>
        <tr class="fw-bold" >
          <th class="table_head" scope="align-L">Matched</th>
        </tr>
      </thead>
      <table class="table table_head_wrapper">
        <thead>
          <tr class="fw-bold tr"  >
            <th class="table_head1">PL ID</th>
            <th class="table_head2">Bet ID</th>
            <th class="table_head3">Bet placed</th>
            <th class="table_head4">IP Address</th>
            <th class="table_head5">Market</th>
            <th class="table_head6">Selection</th>
            <th class="table_head7">Type</th>
            <th class="table_head8">Odds req.</th>
            <th class="table_head9">Stake</th>
            <th class="table_head10">Liability</th>
          </tr>
        </thead>
        <tbody  class="table_body_section">
          <tr>
            <td class="table_head1">nasir</td>
            <td class="table_head2"><a href="#">9ae1420</a></td>
            
            <td class="table_head3">
              <li class="game_date" >
                Wed Aug 03 
              </li>
              <li class="game_date" >
                04:36:55
              </li>
              <li class="game_date">
                IST 2022              
              </li>
            </td>
            <td class="table_head4">223.233.7.178</td>
            <td class="table_head5">Cricket <i class="fa fa-play play" ></i> <strong>Ireland v South Africa</strong><i class="fa fa-play" style="color:beige;"></i> Match odds</td>
            <td class="table_head6">South Africa</td>
            <td class="table_head7"> <a href="#">Lay</a></td>
            <td class="table_head8">0.21</td>
            <td class="table_head9">20</td>
            <td class="table_head10">4.2</td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>
  <div>
    <app-pagination></app-pagination>
  </div>
  
</section>
