.main{
  width: 99%;
  height: auto;
  overflow: hidden;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
}
.betlistfilter{
  padding: 10px 10px 0;
  background-color: #E0E6E6;
  border-bottom: 1px solid #7e97a7;
  margin-bottom: 10px;
  font-size: 12px;
}
.sportsBody{
  padding: 10px 0px 0;
  background-color: #E0E6E6;
  /* border-bottom: 1px solid #7e97a7; */
  margin-bottom: 10px;
}
.match_btn{
  margin-left: 31px;
  background: #fdb500;
  width: 59px;
  margin-right: 1px;
  border: 1px solid #cb8009;
  border-radius: 4px;
  color: #1e1e1e;
  font-weight: bold;
  line-height: 23px;
  font-size: 12px;
}
.sportStatus{
  height: 24px;
  width: 128px;
  border-radius: 1px;
  font-family: Arial, Helvetica, sans-serif;
}
.input{
  margin-right: 12px;;
  font-family: Arial, Helvetica, sans-serif;
}
.inputbody{
  margin-left: 13px
}
.heading{
  background: #ffb90e;
  margin: 0;
  padding: 3px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  margin: auto;
} 

.head{
  background-color: #3b5160;
  border-bottom: 1px solid #3d4246;
  color: #fff;
  line-height: 14px;
  font-weight: bold;
  padding: 0 10px;
  width: 10%;
  padding: 5px;
  font-size: 13px;
}
.table_body{
  font-weight: 400;
  height: 1rem !important;
  border-bottom: 1px solid black; 
  background-color: white;
}
.table_data{
  font-size: 11px;
  font-weight: 300;
  padding: 5px;
}
.icon{
  margin: 0 5px;
    background-position: -20px -182px;
    height: 8px;
    width: 7px;
}
.table_body_section{
  font-weight: 400;
  height: 1rem !important;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: white;
  line-height: 11px;
}
h5{
  font-size: 0.9rem;
  font-weight: 700;
}
.align{
  font-size: 12px;
  background-color: #7e97a7;
}
.align-L1{
  width: 8.5%;
  padding: 5px;
  border-bottom: 1px solid #3d4246;
}
.align-L2{
  width: 5%;
  padding: 5px;
  border-bottom: 1px solid #3d4246;
}
.align-L3{
  width: 6%;
  padding: 5px;
  border-bottom: 1px solid #3d4246;
}
.align-L4{
  width: 6%;
  padding: 5px;
  border-bottom: 1px solid #3d4246;
}
.align-L5{
  width: 46%;
  padding: 5px;
  border-bottom: 1px solid #3d4246;
}

.align-L6{
  width: 7%;
  padding: 5px;
  border-bottom: 1px solid #3d4246;
}
.align-L7{
  width: 4%;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #3d4246;
}
.align-L8{
  width: 4%;
  padding: 5px;
  text-align: right;
  border-bottom: 1px solid #3d4246;
}
.align-L9{
  width: 7.5%;
  padding: 5px;
  text-align: right;
  border-bottom: 1px solid #3d4246;
}
.align-L10{
  /* width: 10% */
  padding: 5px;
  text-align: right;
  border-bottom: 1px solid #3d4246;
}
.play{
  color:beige;
}

.funtion_wraper{
  font-size: 13px;
}
.tr{
  font-size: 12px;
  background-color: #e4e4e4;
  border-bottom: 1px solid black !important;
}
.game_date{
  list-style: none
}
#betstt1{
  width: 7%;
}
