<app-navigation></app-navigation>
<div class="full-wrap">
    <h2>Search Users</h2>
    <div class="total_all banking-top">
      <div class="search-wrap" id="userSearchUl">
        <div>
          <i class="fa fa-search"></i>
          <input class="search-input" id="searchUserId" type="text" placeholder="Enter userId...">
        </div>
      </div>
      <ul class="input-list" id="companySearchUl">
        <li class="bank-li">
          <button class="btn-send banking-btn" id="search">Search</button>
          <button class="btn-send banking-btn">Statement</button>
        </li>
      </ul>
    </div>
    <div class="table-wrap">
      <table id="table_log" class="table01">
        <thead>
          <tr>
            <th class="align-L">Admin</th>
            <th class="align-L">Super Admin</th>
            <th class="align-L">Sub Admin</th>
            <th class="align-L">Senior Super</th>
            <th class="align-L">Super Agent</th>
            <th class="align-L">Agent</th>
            <th class="align-L">User</th>
          </tr>
        </thead>
        <tbody id="content">
          <tr>
            <td class="align-L" id="ad">---</td>
            <td class="align-L" id="sa">---</td>
            <td class="align-L" id="ma">---</td>
            <td class="align-L" id="sm">---</td>
            <td class="align-L" id="mm">---</td>
            <td class="align-L" id="agm">---</td>
            <td class="align-L" id="client">---</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  