.main {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-left: 7%;
  padding-right: 7%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
}
.edit a {
  margin-top: -10px;
}

.btn-a{
  color: black;
}

.buttons2 {
  background-color:#D65D5D;
  border-radius: 4px;
  width: 29px;
  font-size: 10px;
  margin-top: 2px;
  font-weight: 300;
  color: #fff;
  float: left;
}
.buttons1 {
  background-color: #D77319;
  border-radius: 4px;
  width: 29px;
  font-weight: 300;
  font-size: 10px;
  margin-top: 2px;
  color: #fff;
  float: left;
}
#contactDtails{
  padding-bottom: 5px;
}

.subBlock {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.sideBlock {
  float: left;
  padding: 5px;
  width: 20%;
  text-align: left;
}

.rightBlock {
  float: left;
  padding: 5px;
  width: 80%;
}

.head {
  color: #fff;
  padding: 0 10px;
  background: #243a48;
  line-height: 25px;
  padding: 0 10px;
}

ul {
  width: 100%;
}

li {
  list-style-type: none;
}

.heading {
  font-size: 16px;
  line-height: 15px;
  font-weight: bold;
  padding: 5px;
  position: relative;
  right: -7px
}

.menu {
  border-bottom: 1px solid #E0E6E6;
  font-size: 12px;
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  color: #243a48;
}

.menu2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 7px;
}

.menu3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #2789ce;
}

sub {
  color: gray;
  font-size: 10px;
  font-weight: normal;
}

.bal {
  background-color: #fff;
  color: #3b5160;
  padding: 7px 10px 5px;
  border-bottom: 1px solid #7e97a7;
  margin-bottom: 15px;

}

.btn {
  border: 1px solid #7E97A7;
  border-radius: 3px;
  font-size: 14px;
  color: #212121;
  width: 100px;
  height: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.d {
  width: 31.37255%;
  border-right: 1px solid #d8d8d8;
  margin-right: 10px;
}

.subBlock .menu {
  color: #2789ce;
}

.head {
  color: whitesmoke;
}


.subBlock .menu:hover {
  background-color: #e3e9e5;
  /* color: white; */
}

#bettingfixed {
  background-color: rgb(235, 193, 84);
}
thead {
  background-color: #e4e4e4;
  border-top: 1px solid #7e97a7;
  border-bottom: 1px solid #7e97a7;
  line-height: 14px;
}

thead th {
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid #7e97a7;
  padding: 10px !important;
}
.column1 {
  width: 30%;
}

.column2 {
  width: 20%;
}


.column3 {
  width: 20%;
}

.column4 {
  width: 20%;
  text-align: end;
}

.table1 {
  width: 100%;
  background-color: #fff;
}

tbody td {
  font-size: 12px;
  padding: 10px !important;
}

.eventleft {
  width: 49.5%;
  font-size: 11px;
}

.profile-wrap {
  background-color: #fff;
  border-bottom: 1px solid #7e97a7;
  margin-bottom: 15px;

}

button span {
  height: 20px;
}

.profile-wrap h3 {
  background-color: #7e97a7;
  color: #fff;
  font-size: 16px;
  padding: 0 10px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

dl {
  display: flex;
}
.profile-wrap dl {
  position: relative;
  border-bottom: 1px solid #E0E6E6;
  line-height: 10px;
}

.profile-wrap dt {
  width: 125px;
  padding-left: 10px;
  color: #243a48;
}

dt {
  font-size: 11px;
  font-weight: 200;
}

.d1 {
  display: flex;
}

.profile-wrap .favor-set {
  position: absolute;
  right: 2px;
  top: 1px;
}
#impdl{
  margin-bottom: 0;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

.favor-set {
  line-height: 25px;
  border-bottom-width: 0;
  padding-right: 23px;
  /* margin-bottom: 2px; */
  background-position: 100% -2975px;
}

.persion {
  /* background-color: #7e97a7; */
  color: #7e97a7;
}



.pen {
  font-size: 12px;
  margin-left: 5px;
  /* padding-bottom: 20px; */
}

.icon {
  margin-left: 145px;

}



.agent_path {
  margin: 18px 0 14px 0;
  width: 20%;
}

/* change password pop up css */
.main-wrap {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

h2 {

  font-size: 16px;
  line-height: 16px;
  color: #243a48;
  padding-top: 0;
  margin: 15px 0;
  font-family: Tahoma, Helvetica, sans-serif;

}

/* change password pop up css */
.modal-content {
  position: fixed;
  top: 95px;
  left: 50%;
  background-color: #eee;
  width: 430px;
  border-radius: 5px;
  padding: 15px;
  transform: translate(-50%, 0);
  border-radius: 7px;
}

.btn-primary {
  background: #ffa00c url(/adminfiles/img/bg-send.gif) repeat-x;
  border-color: #be7f1a;
  color: #1e1e1e;
}

.btn-primary#cpBtn {
  margin-right: -7px;
  width: 35%;
  font-size: 10px;
  font-weight: 900;
  margin-top: 8px
}

h4 {
  font-size: 16px;
  color: #3b5160;
  margin-bottom: 18px;
  font-weight: 600;
}

input {
  height: 24px;
  width: 160px;
  margin-left: 8px;
  border-radius: 5px;
  border: none;
  border-style: inset;
  border-width: 1px;
}

tr {
  font-size: 12px;
}

.confrimPassword {
  padding-left: 80px;
}

.error {
  color: #E83523;
  font-size: 12px;
}

.btBox {
  text-align: center;
}

#cpBtn {
  width: 80px;
}

.must {
  font-size: 13px;
  color: #d0021b;
}

.modal-footer {
  /* background-color: #d0021b; */
  padding: 0;
  border: none;
}

.modal-header {
  padding: 0;
  border: none;
}

.modal-body {
  padding: 15;
}

label {
  padding-left: 40px;
}

/* Deposite Chips css */
.but_suspend {
  cursor: pointer;
}

#amt {
  margin-left: 105px;
  width: 50%;
  border: solid 0.3px black;
  background-color: rgb(223, 227, 230);
}

#balance {
  color: #3b5160;
  font-size: 15px;
  font-weight: 900;
  margin-left: 20px;
}

.modal-body#dcmodal {
  border-bottom: solid 0.5px rgb(44, 43, 43);
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 2px;
}

.btn-primary#dcBtn {
  margin-top: 20px;
  width: 20%;
  font-size: 13px;
  font-weight: 900;
  padding: 1px 0px
}

.xbttn {
  background: black;
  color: #fff;
  margin-right: 20px;
  width: 16px;
  text-align: center;
  height: 16px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  margin-top: -1px;
  margin-right: -5px;
}

.xbttn1 {
  background: black;
  color: #fff;
  margin-right: 4px;
  width: 18px;
  text-align: center;
  height: 19px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

#cnfrm {
  margin-left: -44px;
}

.table2 {
  width: 100%;
  background-color: #eee;
  text-align: left;
  /* margin-right:100px; */
}

.prficon {
  position: relative;
  left: 5px;
}