<app-navigation></app-navigation>
<div class="main">
  <h6>Profit/Loss Report by Downline</h6>
  <div>
    <label for=""
      >Data source:
      <select class="select">
        <option>DB</option>
        <option>ELK</option>
      </select></label
    >
  </div>
  <div class="betlistfilter">
    <div class="filter1">
      <label>Time Zone </label>
      <select class="betStatus">
        <option>Pacific/Midway(GMT-11:00)</option>
        <option>Pacific/Honolulu(GMT-10:00)</option>
        <option>America/Juneau(GMT-9:00)</option>
        <option>America/Los_Angeles(GMT-8:00)</option>
        <option>America/Phoenix(GMT-7:00)</option>
        <option>America/Chicago(GMT-6:00)</option>
        <option>America/New_York(GMT-5:00)</option>
        <option>America/Santiago(GMT-4:00)</option>
        <option>America/Sao_Paulo(GMT-3:00)</option>
        <option>Atlantica/South_Georgia(GMT-2:00)</option>
        <option>Atlantica/Azores(GMT-1:00)</option>
        <option>Europe/London(GMT+0:00)</option>
        <option>Europe/Paris(GMT+1:00)</option>
        <option>Africa/Cairo(GMT+2:00)</option>
        <option>Asia/Qatar(GMT-3:00)</option>
        <option>Asia/Dubai(GMT+4:00)</option>
        <option>Asia/Karachi(GMT+5:00)</option>
        <option>IST(Bangalore / Bombay / New Delhi(GMT+5:30))</option>
        <option>Asia/Kathmandu(GMT+5:45)</option>
        <option>Asia/Dhaka(GMT+6:00)</option>
        <option>Asia/Bangkok(GMT+7:00)</option>
        <option>Asia/Hong_Kong(GMT+8:00)</option>
        <option>Asia/Tokyo(GMT+9:00)</option>
        <option>Australia/Adelaide(GMT+5:45)</option>
        <option>Australia/Melbourne(GMT+9:30)</option>
        <option>Asia/Magadan(GMT+11:00)</option>
        <option>Pacific/Fiji(GMT+12:00)</option>
      </select>
      <label>Period </label>
      <input
        type="date" class="date" [value]="currentDate" /><input
        type="time"
        class="time"
        [value]="currentTime"
      />
      <span>to</span>
      <input type="date" class="date" [value]="endDate" /><input
        type="time"
        class="time"
        [value]="currentTime"
      />
    </div>
    <div class="filter2">
      <button type="button" class="btn1">Just For Today</button>
      <button type="button" class="btn2">From Yesterday</button>
      <button type="button" class="btn3" (click)='searchDate()'>Get P&L</button>
    </div>
  </div>
  <table class="betlisttb">
    <tr class="betlisthead">
      <td class="width1">UID</td>
      <td class="width2">Stake</td>
      <td class="width3">Downline P/L</td>
      <td class="width4">Player P/L</td>
      <td class="width5">Comm.</td>
      <td>Upline/Total P/L</td>
    </tr>
















    <tbody id="content">
      <tr id="">
        <td class="align-L">
          <a onclick="loadMore(0)" id="clicksatest" href="javascript:void(0);" class="expand-close"><span>+</span></a><a href="javascript:void(0);" class="ico_account" onclick="getPlDataByuser(0)"><span class="lv_2">SUA</span>satest</a></td><td id="_profitLoss"><span class="">1</span></td><td id="_profitLoss"><span class="red"> ( -0.25 )</span></td><td id="_profitLoss"><span class="green">0.25</span></td><td id="_profitLoss"><span class="green">0</span></td><td id="_profitLoss"><span class="red"> ( -0.25 )</span></td></tr><tr style="display:contents" id="satest"></tr><tr id="tempTotalTr" class="total"><td class="align-L">Total</td><td id="_totalProfitLoss"><span class="">1</span></td><td id="_totalProfitLossDownLine"><span class="red"> ( -0.25 ) </span></td><td id="_totalProfitLoss"><span class="green">0.25</span></td><td id="_totalProfitLossDownLine"><span class="green">0.00</span></td><td id="_totalProfitLossDownLine"><span class="red"> ( -0.25 )</span></td></tr></tbody>



  </table>
</div>
