.main{
    width:100%;
    min-height: 650px;
    height:auto;
    overflow:hidden;
    padding-left:7%;
    padding-right:7%;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:5px;
    background-color: #f0ece1;
  }
  .main{
    width:100%;
    min-height: 650px;
    height:auto;
    overflow:hidden;
    padding-left:7%;
    padding-right:7%;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:5px;
    background-color: #f0ece1;
  }
  .betlistfilter{
    padding: 10px 10px 0;
    background-color: #E0E6E6;
    border-bottom: 1px solid #7e97a7;
    margin-bottom: 10px;
  }
  label{
    font-size:12px;
  }
  
  .filter1 label{
    padding-right:5px;
  }
  .betStatus{
    height:28px;
    width:120px;
    margin-right:5px;
    border-radius:2px;
  }
  .date,.time{
    font-family: Tahoma, Helvetica, sans-serif;
      color: #1e1e1e;
      font-size: 12px;
      border: 0px #aaa solid;
      background: #fff;
      box-shadow: inset 0px 1px 0px rgb(0 0 0 / 50%);
      border-radius: 4px;
      padding: 5px;
      margin: 0 5px 5px 0;
      box-sizing: border-box;
  }
  .btn1,.btn2{
    background: #eee;
    border: 1px solid #bbb;
    border-radius: 4px;
    color: #1e1e1e;
    font-weight: normal;
    line-height: 23px;
    font-size: 12px;
    margin-right:8px;
  }
  .btn3{
    background: #ffa00c;
    border-color: #cb8009;
    border-radius: 4px;
    color: #1e1e1e;
    line-height: 20px;
    font-size: 14px;
    width:7.7rem;
  }
  .betDetails{
    padding:5px;
    font-size:12px;
  }
  table,tr{
  width:100%;
  border-collapse: collapse;
  border-bottom: 1px solid #7e97a7;
  }
  .betlisttb{
      border-top:1px solid #7e97a7;
      border-bottom:1px solid #7e97a7;
      background-color: #e4e4e4;
      color:#243a48;
  }
  .betlisttb td{
    padding:10px;
    font-weight: 600;
    font-size:13px;
  }
  .bet,.err{
    background-color: #ffffff;
  }
  .err td{
    font-weight: normal;
    font-size:12px;
  }
  .width1{
    width: 30%;
  }
  .width2{
    width: 13%;
   
  }
  .width3{
    width: 19%;
    
  }
  .width4{
    width: 17%;

  }
  .width5{
    width: 14%;

  }
  span {
    margin-right: 15px;
      margin-left: 12px;
  }
  .filter1 label{
    padding-right:15px;
    margin-left: 12px;
  }
  h6{
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
   }
   .filter2{
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .betlisthead{
    line-height: 10px;
  }
  .select{
    width: 7rem;
    height: 29px;
  }