<app-navigation></app-navigation>
<div class="main">
  <div class="userProfile">
    <h3>admin</h3>
  </div>
  <div class="subBlock">
    <div class="sideBlock">
      <ul>
        <li class="head">Position</li>
        <li class="menu">Account Statement</li>
        <li class="menu">Account Summary</li>
        <li class="head">Account Details </li>
        <li class="menu">Profile</li>
        <li class="menu">Activity Log</li>
      </ul>
    </div>
    <div class="rightBlock">
      <li class="menu">Your Balances</li>
      <li class="menu">38,84,34,242<sub>PBU</sub></li>
    </div>
  </div>
</div>
