<app-navigation></app-navigation>
<div class="full-wrap">
    <h2>Update Fancy Status</h2>
    <div class="total_all banking-top">
        <div class="search-wrap" id="userSearchUl">
            <div class="searchbox" >
            <i class="fa fa-search"></i>
            <input class="search-input searchTB" id="searchUserId" type="text" placeholder="Enter Event Id..." >
            </div>
        </div>
        <button class="btn-send banking-btn" id="search">Search</button>
    </div>
    <div>
        <table class="table">
            <thead class="tablehead">
              <tr>
                <th scope="col">Fancy Id</th>
                <th scope="col">Fancy Name</th>
                <th scope="col">Match Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
          </table>
    </div>


