<app-navigation></app-navigation>
<div class="full-wrap">
    <h2>Update Fancy Status</h2>
    <div class="total_all banking-top">
        <div class="search-wrap" id="userSearchUl">
            <div>
            <input class="search-input" id="searchUserId" type="text" placeholder="Enter userId...">
            </div>
        </div>
        <button class="btn-send banking-btn" id="search">Search</button>
    </div>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Fancy Id</th>
                <th scope="col">Fancy Name</th>
                <th scope="col">Match Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>


