<app-navigation></app-navigation>
<div class="main">
  <div class="userProfile">
    <button type="button" class="user"><div class="abadge">A</div>admin</button>
  </div>
  <div class="subBlock">
    <div class="sideBlock">
        <li class="head">Position</li>
        <li class="menu"><a routerLink="/Aaccountstatement">Account Statement</a></li>
      <li class="menu"><a routerLink="/account">Account Summary </a></li>
        <li class="head">Account Details </li>
        <li class="menu"><a routerLink="/Aprofile">Profile</a></li>
        <li class="menu"><a routerLink="/activitylog">Activity Log</a></li>
    </div>
    <div class="heading">Activity Log</div>
    <div class="rightBlock">
        <table class="table">
            <thead>
              <tr>
                <th class="firstclon1"  scope="col">Login Date & Time</th>
                <th class="firstclon2" scope="col">Login Status</th>
                <th class="firstclon3" scope="col">IP Address	</th>
                <th class="firstclon4" scope="col">ISP</th>
                <th class="firstclon5" scope="col">City/State/Country	</th>
                <th class="firstclon6" scope="col">User Agent Type
                </th>

              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>27-02-2023 15:04:14</td>
                    <td class="log">Login - -</td>
                    <td>49.37.131.188</td>
                    <td>-</td>
                    <td>-,-</td>
                    <td>Browser</td>
                  </tr>
                  <tr>
                    <td>27-02-2023 15:04:14</td>
                    <td class="log">Login - -</td>
                    <td>49.37.131.188</td>
                    <td>-</td>
                    <td>-,-</td>
                    <td>Browser</td>
                  </tr> <tr>
                    <td>27-02-2023 15:04:14</td>
                    <td class="log">Login - -</td>
                    <td>49.37.131.188</td>
                    <td>-</td>
                    <td>-,-</td>
                    <td>Browser</td>
                  </tr>
            </tbody>
          </table>
    </div>
  </div>
  <nav>
    <ul class="pagination  page">
      <li class="page-item p1"><a href="#">Prev</a></li>
      <li class="page-item p2"><a  href="#">1</a></li>
      <li class="page-item p3"><a  href="#">Next</a></li>
      <input type="text" maxlength="6" class="input1">
      <button>Go</button>
    </ul>
  </nav>
</div>


   
