<app-navigation></app-navigation>
<div class="main">
  <div class="userProfile">
    <button type="button" class="admin-btn"><div class="adminBtn">A</div>admin</button>
  </div>
  <div class="subBlock">
    <div class="sideBlock">
        <li class="head">Position</li>
        <li class="menu" routerLink="/Aaccountstatement">Account Statement</li>
        <li class="menu" routerLink="/account">Account Summary</li>
        <li class="head">Account Details</li>
        <li class="menu" routerLink="/Aprofile">Profile</li>
        <li class="menu" routerLink="/activitylog">Activity Log</li>
    </div>
    <div class="heading">Activity Log</div>
    <div class="rightBlock">
        <table class="table">
            <thead>
              <tr>
                <th class="firstclon1"  scope="col">Login Date & Time</th>
                <th class="firstclon2" scope="col">Login Status</th>
                <th class="firstclon3" scope="col">IP Address	</th>
                <th class="firstclon4" scope="col">ISP</th>
                <th class="firstclon5" scope="col">City/State/Country	</th>
                <th class="firstclon6" scope="col">User Agent Type
                </th>

              </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="firstclon1">27-02-2023 15:04:14</td>
                    <td  class="log  firstclon2">Login - -</td>
                    <td class="firstclon3">49.37.131.188</td>
                    <td class="firstclon4">-</td>
                    <td class="firstclon5">-,-</td>
                    <td class="firstclon6">Browser</td>
                  </tr>
                  <tr>
                    <td class="firstclon1">27-02-2023 15:04:14</td>
                    <td  class="log  firstclon2">Login - -</td>
                    <td class="firstclon3">49.37.131.188</td>
                    <td class="firstclon4">-</td>
                    <td class="firstclon5">-,-</td>
                    <td class="firstclon6">Browser</td>
                  </tr>
                  <tr>
                    <td class="firstclon1">27-02-2023 15:04:14</td>
                    <td  class="log  firstclon2">Login - -</td>
                    <td class="firstclon3">49.37.131.188</td>
                    <td class="firstclon4">-</td>
                    <td class="firstclon5">-,-</td>
                    <td class="firstclon6">Browser</td>
                  </tr>
            </tbody>
          </table>
    </div>
  </div>
  <nav>
    
  </nav>
</div>



