.main{
    width:100%;
    min-height: 650px;
    height:auto;
    overflow:hidden;
    padding-left:7%;
    padding-right:7%;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:5px;
    background-color: #f0ece1;
  }
  .abadge{
    background-color: rgba(137, 199, 75, 0.911);
    border-radius: 40px 40px;
    width:23px;
    font-size:10px;
    margin-top:2px;
    color:#fff;
    float:left;
  }
  .subBlock{
    width:100%;
    height:auto;
    overflow: hidden;
  }
  .sideBlock{
    float:left;
    padding:5px;
    width:20%;
    text-align: left;
  }
  .rightBlock{
    float:left;
    padding:5px;
    width:80%;
  }
  .head{
    color: #fff;
      padding: 0 10px;
      background: #243a48;
      line-height: 25px;
      padding: 0 10px;
  }
  ul{
    width:100%;
  }
  li{
    list-style-type: none;
  }
  .heading{
    font-weight: bold;
    font-size:18px;
    padding:5px;
  }
  .menu{
    border-bottom: 1px solid #E0E6E6;
    font-size:12px;
    background-color: #ffffff;
    padding:10px;
    color:#243a48;
  }
  sub{
    color:gray;
    font-size: 10px;
    font-weight: normal;
  }
  .bal{
    background-color: #fff;
    color: #3b5160;
    padding: 7px 10px 5px;
    border-bottom: 1px solid #7e97a7;
    margin-bottom: 15px;
  
  }
  .user{
    border: 1px solid #7E97A7;
    border-radius: 3px;
    font-size: 14px;
    color:#212121;
    width:100px;
    height:30px;
    margin-top: 10px;
    margin-bottom:10px;
    font-weight: bold;
  }

 .table{
    width: 100%;
    background-color: #fff;
    /* background-color:#cbcfd1; */
    border-collapse: collapse;
    border-bottom: 2px solid #52616a;
    margin-bottom: 15px;
}

.table thead{
    font-size: 12px;
    background-color:#cbcfd1;
    line-height: 20px;
    font-weight: bold;
    height: 20px;
    border-bottom: 2px solid #52616a;

}

.firstclon1{
    width: 12%;

}
.firstclon2{
    width: 13%;

}
.firstclon3{
    width: 12%;

}
.firstclon4{
    width: 10%;

}
.firstclon5{
    width: 10%;

}

.firstclon6{
    width: 10%;

}
tbody tr td{
    font-size: 11px;

}


.page{
    padding-left: 40pc;
    padding-top: 3pc;
}

.p1{
    width: 8%;
    margin-right: 15px;
    border: 1px #aaa solid;
    border-radius: 5px;
    text-align: center;


}

.p2{
    width: 5%;
    margin-right: 15px;
    text-align: center;
    background-color: rgb(223, 161, 68);
}

.p3{
    width: 8%;
    margin-right: 15px;
    border: 1px #aaa solid;
    border-radius: 5px;
    text-align: center;
    /* background-color: #7f7b7b; */
    
}

ul a{
    color: #7f7b7b;
    background-color: #f0ece1;
}


.input1{
    width: 9%;
    color: #1e1e1e;
    font-size: 12px;
    border: 0px #aaa solid;
    background: #fff;
    box-shadow: inset 0px 1px 0px rgb(0 0 0 / 50%);
    border-radius: 4px;
    padding: 5px;
    margin: 0 5px 5px 0;
    box-sizing: border-box;

}

ul{
    /* display: block;
    list-style-type: disc; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
button{
    width: 6%;
    background-color: #aaa;
}