<app-navigation></app-navigation>
<div class="div-wrap">
    <h2>Add Website</h2>
    <div class="add_website_block">
        <div class="search-wrap" id="userSearchUl">
            <div class="searchbox" >
            <input class="search-input searchTB" id="searchUserId" type="text" placeholder="Enter Website Name..." [value]="site" (keyup)="addWebsite($event)" required>
            </div>
        </div>
        <button type="button" class="btn-send add_website_btn" id="search" (click)="addSite()">Add</button><span class="error" *ngIf="error">{{error}}</span>
    </div>
    <div>
        <table class="table">
            <thead class="tablehead">
              <tr>
                <th scope="col">Website Name</th>
                <th scope="col">Is Used	</th>
                <th scope="col">Used For</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of websites;let i=index;">
                  <td>{{item.websiteName}}</td>
                  <td >{{item.isUsed}}</td>
                  <td>{{item.usedFor}}</td>
                </tr>
          </tbody>
          </table>
    </div>


