.full-wrap {
    position: relative;
    width: 100%;
    padding-left: 20px;
    background-color: #f0ece1;
    min-height: 750px;
}
h2 {
    font-size: 15px;
    line-height: 35px;
    padding-top: 6px;
    margin-bottom: 6px;
    font-weight: 700;
}


.banking-top {
    display: flex;
    margin: 10px 0 10px 0;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;
}
#searchUserId {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 190px;
    border-radius: 5px;
    border: none;
    border-style: inset;
    border-width: 2px;
}


.banking-btn {
    background-color: #ffa00c;
    color: black;
    font-weight: 900;
    width: 120px;
    margin-left: 9px;
    border: 1px solid #cd8009;
    border-radius: 5px;
    cursor: pointer;
}

.tablehead{
    width: 100%;
    background-color: #e7e5e5;
    line-height: 11px;
    border: #7e97a7;
    border-collapse: collapse;
    border-bottom: 1px solid #7e97a7;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;

}


.tablehead th{
    color: #243a48;
    background-color: #e4e4e4;
    border: 1px solid #7e97a7;
    border-width: 1px 0 1px 0;
    padding: 8px 10px;
    font-weight: bold;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody td {
    background-color: white;
    border-bottom: 1px solid #e7e5e5;
    padding: 8px 10px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13px;

}
.error{
    color:red;
    padding:8px;
}
body{
    background-color: #F0ECE1;
}

.searchbox{
    display:flex;
    color:#212121;
    width:fit-content;
    border-radius:4px;
    box-shadow: inset 0px 2px 0px rgb(0 0 0 / 10%);
    position: relative;
  }

  

  .searchTB{
    padding-left: 22px;
    width: 290px;
    height: 32px;
    border: 1px solid #aaa;
    box-shadow: inset 0px 2px 0px rgb(0 0 0 / 10%);
  }
