<app-navigation></app-navigation>
<div class="full-wrap">
    <h2>Add Website</h2>
    <div class="total_all banking-top">
        <div class="search-wrap" id="userSearchUl">
            <div class="searchbox" >
            <input class="search-input searchTB" id="searchUserId" type="text" placeholder="Enter Website Name..." >
            </div>
        </div>
        <button class="btn-send banking-btn" id="search">Add</button>
    </div>
    <div>
        <table class="table">
            <thead class="tablehead">
              <tr>
                <th scope="col">Website Name</th>
                <th scope="col">Is Used	</th>
                <th scope="col">Used For</th>
              </tr>
            </thead>
          </table>
    </div>


