<app-navigation></app-navigation>
<div class="container-fluid">
    <div class="main-wrap d-flex flex-wrap">
        <div class="function-wrap col-12 my-3">
            <div class="col-12">
                <h2>Manage Website Settings</h2>
            </div>
            <ul class="list-unstyled">
                <li>
                  <a id="suspendedBtn1" role="button"class="but_suspend openaddWebsitemodal">
                    <img src="/assets/addweb.png" alt="addWebsite" class="img-fluid">
                  </a>
                </li>
                <li>
                  <a id="suspendedBtn" role="button"class="but_suspend openmanageLinksmodal">
                    <img src="/assets/managelinks.png" alt="manageLinks" class="img-fluid">
                  </a>
                </li>
            </ul>
        </div>
    </div>            
</div>
