<app-navigation></app-navigation>
<div class="main">
    <h2>Rejected Bets - Due to Unmatched Values</h2>
    <div class="funtion_wraper " style="font-size: 13px;">
      <div class="sportsBody" >
        <div class="daad">
            <label class="input">Select Sport</label><select class="sportStatus"><option>Select Sport</option><option>Cricket</option><option>Tennis</option><option>Soccer</option></select>
             <label class="inputbody input">Select Match</label><select class="sportStatus"><option></option><option></option></select>
             <label class="inputbody input">Select Type</label><select class="sportStatus"><option value="100"></option><option value="50"></option><option value="25" selected></option></select>
             <label class="inputbody input">Select Market</label><select class="sportStatus"><option value="stop"></option><option value="60"></option><option value="30" ></option> <option value="15" selected></option> <option value="5" ></option> <option value="2"></option></select>
        </div>
      </div>
  </div>
  <div class="search-wrap searchbox">
    <i class="fa fa-search"></i>
    <input type="text" placeholder="Search..." class="searchTB" >
  </div>

  <div class="TBHead">
    <table class="table">
        <thead class="tablehead">
          <tr>
            <th scope="col">Sport</th>
            <th scope="col">Match Name</th>
            <th scope="col">Client</th>
            <th scope="col">Type</th>
            <th scope="col">Selection</th>
            <th scope="col">Odds</th>
            <th scope="col">Stake</th>
            <th scope="col">Place Time</th>
            <th scope="col">IP</th>
            <th scope="col">Pnl</th>
            <th scope="col">Roll.</th>
          </tr>
        </thead>
      </table>
  </div>
</div>