.main{
    width:100%;
    min-height: 650px;
    height:auto;
    overflow:hidden;
    padding-left:7%;
    padding-right:6%;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:10px;
}

h2{
    font-size: 0.9rem;
    font-weight: 600;
}
.sportsBody{
    padding: 10px 10px 0;
    background-color: #E0E6E6;
    border-bottom: 1px solid #7e97a7;
    margin-bottom: 10px;
}
.match_btn{
    margin-left: 2px;
    background: white;
    border-color: white;
    width: 95px;
    margin-right: 1px;
    border: 1px solid #bbb;
    border-radius: 4px;
    color: #1e1e1e;
    line-height: 23px;
    font-size: 12px;
    margin-bottom: 12px;
  }
  .match{
    margin-left: 2px;
    background: #ffb90e;
    border-color: #cb8009;
    width: 95px;
    margin-right: 1px;
    border: 1px solid #bbb;
    border-radius: 4px;
    color: #1e1e1e;
    font-weight: bold;
    line-height: 23px;
    font-size: 12px;
    margin-bottom: 12px;
  }
  .table_data{
    background-color: #E0E6E6;
      border-bottom: 1px solid #7e97a7;
      border-top: 1px solid #7e97a7;
      margin-bottom: 10px;
      border-collapse: collapse;
  }
  th{
    color: #243a48;
    background-color: #e4e4e4;
    border: 1px solid #7e97a7;
    border-width: 1px 0 1px 0;
    padding: 6px 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  td{
        border-top: 1px solid #eee;
        padding: 1px 10px;
        vertical-align: middle;
  }
  .matchs{
    margin-left: 2px;
    background: #ffb90e;
    border-color: #cb8009;
    width: 118px;
    margin-right: 1px;
    border: 1px solid #bbb;
    border-radius: 4px;
    color: #1e1e1e;
    font-weight: bold;
    line-height: 23px;
    font-size: 12px;
    margin-bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
  }
  .table_body{
    background-color: white; font-size: 12px;
  }
  .table_row{
    font-size: 13px; display: table-row; 
  }
  .table_col{
    text-align: right;
  }
  .align_L{
    font-family: Arial, Helvetica, sans-serif;

  }