<app-navigation></app-navigation>
<div class="main">
  <div class="userProfile">
    <button type="button" class="user"><div class="abadge">A</div>admin</button>
  </div>
  <div class="subBlock">
    <div class="sideBlock">
        <li class="head">Position</li>
        <li class="menu">Account Statement</li>
        <li class="menu"><a routerLink="/accountSummary">Account Summary</a></li>
        <li class="head">Account Details </li>
        <li class="menu">Profile</li>
        <li class="menu"><a routerLink='/activitylog'>Activity Log</a></li>
    </div>
    
<div class="rightBlock">
  <div class="heading">Account Summary</div>
  <div class="bal">
  <div class="d">
  <li class="menu2">Your Balances</li>
  <li class="menu3">0.00<sub>PBU</sub></li>
  </div>
  </div>
</div>
   
  </div>
</div>
