
img{
    line-height: 20px;
    border: 2px solid #1e1e1e !important;
    border-radius: 8px;
    width: 165px;
    margin-right: 9px;
}

.wrap_function{
    width: 86%;
    margin: auto;
    padding: 10px 10px 0;
    background-color: #E0E6E6;
    border-bottom: 1px solid #7e97a7;
}

.col-lg-12{
    position: relative;
    min-height: 1px;
    
}

.title{
    margin: none;
}
.h2{
    font-size: 1.1rem; margin-left: 3%;
}

.suspend1{
    list-style: none; margin-right: 5px;
}
.suspend2{
    list-style: none;
}